<div style="min-height: 300px">
  <div class="clearfix m-b-xs">

    <div class="pull-left">
      <p class="m-t-md">Найдено —
        <b>{{searchResult.numFound}}</b>
      </p>
    </div>

    <div class="pull-right m-t">

      <meeting-protocol-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting"
                                   (sortingChanged)="sortingChange($event)">
      </meeting-protocol-list-sorting>

      <div class="btn-group">
        <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
          <i class="fa fa-filter"></i> Расширенный поиск
        </button>
      </div>

    </div>

  </div>

  <div class="animated fadeIn" [collapse]="extSearchCollapsed">
    <meeting-protocol-list-filters [filter]="filter" [isExternal]="isExternal" (filterChanged)="filterChange($event)">
    </meeting-protocol-list-filters>
  </div>

  <div *ngIf="!isLoading">

    <div class="hr-line-dashed"></div>

    <table class="table table-bordered"
           style="font-size:14px;color: #676a6c;table-layout: fixed; min-width: 530px;">

      <thead>
      <tr style="border-top:1px solid #f0f0f0;font-weight:600">
        <th style="font-weight: 600;width: 110px;" data-info="protocolApproved" class="text-center">
          Статус
        </th>
        <th style="font-weight: 600;width: 100px;" data-info="meetingDate" class="text-center">
          Дата
        </th>
        <th style="font-weight: 600;" data-info="meetingNumber, meetingType" class="text-center">
          Заседание
        </th>
        <th style="font-weight: 600;width:90px;" data-info="questionsNum" class="text-center">
          Вопросов
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let d of searchResult.docs">
        <td class="text-center">
          <span class="label label-primary" *ngIf="d.protocolApproved !== 'true'">Не утвержден</span>
          <span class="label label-success" *ngIf="d.protocolApproved === 'true'">Утвержден</span>
        </td>
        <td class="text-center">
          {{d.meetingDate | date: "dd.MM.yyyy"}}
        </td>
        <td>
          <a uiSref="app.meeting.protocol" [uiParams]="{id: d.documentId}" target="_blank">
            Заседание
            {{d.meetingShortName ? d.meetingShortName : ''}}
            {{(d.meetingNumber ? ' № ' + d.meetingNumber : '')}}
          </a>
        </td>
        <td class="text-center">
          {{d.questionsNum}}
        </td>
      </tr>
      </tbody>

    </table>



    <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                [firstText]="'1'" [lastText]="searchResult.numFound"
                [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                [rotate]="true" (ngModelChange)="changePage()"
                [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                [maxSize]="3"
                *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>

  </div>
  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
</div>
