$red: #ED5565;

.our-mandatory{
  position: absolute;
  margin-left: 3px;
  color:$red;
}

.ng-invalid > .ng-select-container{
  border-color: $red;
  background-color: #FFF0F0;
}

input.ng-invalid {
  border-color: $red;
  background-color: #FFF0F0;
}

