<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="row">
        <form method="get" class="form-horizontal">

          <h4>Вопрос к рассмотрению</h4>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Вид совещания
              <span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="meetingType"
                [items]="meetingTypes"
                [multiple]="false"
                [closeOnSelect]="true"
                [hideSelected]="true"
                bindLabel="meetingFullName"
                bindValue="meetingType"
                [required]="'true'"
                [(ngModel)]="question.meetingType" (change)="meetingTypeChanged($event, true)">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Категория вопроса
              <span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="questionCategory"
                         [items]="questionCategories"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="questionCategory"
                         bindValue="questionCode"
                         [required]="'true'"
                         [(ngModel)]="question.questionConsider.questionCategoryCode"
                         (change)="questionCategoryChanged()">
              </ng-select>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-9"
                 *ngIf="question.meetingType === 'PZZ' || question.questionConsider.questionCategoryCode === 'QUESTION-GK'">
              <span class="form-group__plain-text">{{question.questionConsider.questionCategory}}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вопрос<span class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="question" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.question"
                     [required]="'true'">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Рассмотрение</label>
            <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
              <label class="m-r-sm">
                <input cdp-icheck type="radio" [(ngModel)]="question.questionConsider.consideration" name="consideration" value="Принято к рассмотрению">
                <i></i> Принято к рассмотрению
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
              <label class="m-r-sm">
                <input cdp-icheck type="radio" [(ngModel)]="question.questionConsider.consideration" name="consideration" value="Отозвано">
                <i></i> Отозвано
              </label>
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Адрес вопроса<span
              class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="address" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.address"
                     [required]="'true'">
            </div>
          </div>
          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Округ<span class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="prefect"
                         [required]="'true'"
                         [items]="prefects"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         [(ngModel)]="question.questionConsider.prefect" (change)="prefectChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Район</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="district"
                         [items]="districts"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         [(ngModel)]="question.questionConsider.district">
              </ng-select>
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Кадастровый номер<span
              class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="cadastralNumber" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.cadastralNumber" [required]="'true'">
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Реновация</label>
            <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
              <input cdp-icheck type="checkbox" [(ngModel)]="question.Renovation" name="renovation">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"><span class="semibold">Основание</span></label>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тип<span class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="basisType"
                         [required]="'true'"
                         [items]="basisTypes"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="basisType"
                         bindValue="basisType"
                         [(ngModel)]="question.questionConsider.basis.basisType">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер<span class="our-mandatory">*</span></label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input name="basisNumber" [required]="'true'" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.basis.number" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата<span class="our-mandatory">*</span></label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <!--TODO: required-->
              <cdp-date-selector [(model)]="question.questionConsider.basis.date" required="true"></cdp-date-selector>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание к основанию</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="basisNote" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.basis.note">
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер ГПЗУ</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="gpzu" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.gpzu">
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата направления вопроса на расмотрение</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <cdp-date-selector [(model)]="question.questionConsider.passDate"></cdp-date-selector>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Ответственный за подготовку вопроса</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="meetingResponsibles$ | async"
                         bindLabel="displayName"
                         bindValue="accountName"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         [loading]="meetingResponsiblesLoading"
                         [typeahead]="meetingResponsiblesInput$"
                         placeholder="Введите 3 символов для начала поиска"
                         [(ngModel)]="question.questionConsider.responsiblePrepare.contractorPrepare" name="responsiblePrepareContractor"
                         (change)="departmentContractorChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Заявитель</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="customer" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.customer">
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Правообладатель</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input name="rightHolder" type="text" class="form-control"
                     [(ngModel)]="question.questionConsider.rightHolder">
            </div>
          </div>

          <div class="form-group" *ngIf="question.planningMeeting">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Внешние согласующие</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <div *ngFor="let agree of pzzExternalAgree">
                <label>
                  <input cdp-icheck type="checkbox" [(ngModel)]="externalAgrees[agree.code]"
                         name="externalAgrees"
                         (ngModelChange)="switchExternalAgree(agree.code, $event)">
                  <span class="m-l">{{agree.shortName}}</span>
                </label>
              </div>
            </div>
          </div>

          <hr>

          <h4 *ngIf="isUnauthBuild()">Самострой</h4>

          <div *ngIf="isUnauthBuild()">

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Наличие заявки о сохранении объекта</label>
              <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                <label>
                  <input cdp-icheck type="checkbox" [(ngModel)]="question.questionConsider.requestSaveObject"
                         name="requestSaveObject">
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Градостроительные ограничения</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <ng-select name="urbanLimits"
                           [items]="urbanLimits"
                           [multiple]="false"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="limitName"
                           bindValue="limitCode"
                           [(ngModel)]="question.questionConsider.urbanLimitsCode"
                           (change)="urbanLimitsChanged($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group" *ngIf="hasOtherUrbanLimits">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Прочее</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <input name="urbanLimitsOther" type="text" class="form-control"
                       [(ngModel)]="question.questionConsider.urbanLimitsOther">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Наличие инженерных сетей</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <ng-select name="networkEngineerings"
                           [items]="networkEngineerings"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="engName"
                           bindValue="engCode"
                           [(ngModel)]="question.questionConsider.networkEngineeringCode"
                           (change)="networkEngineeringChanged($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group" *ngIf="hasOtherNetworkEngineering">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Прочее</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <input name="networkEngineeringOther" type="text" class="form-control"
                       [(ngModel)]="question.questionConsider.networkEngineeringOther">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <input name="noteSquatter" type="text" class="form-control"
                       [(ngModel)]="question.questionConsider.noteSquatter">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Повтор</label>
              <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                <label> <input name="repeatSquatter" type="checkbox" cdp-icheck
                               [(ngModel)]="question.questionConsider.repeatSquatter">
                </label>
              </div>
            </div>

            <hr>

          </div>

          <h4>Заседание</h4>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Планируемая дата рассмотрения</label>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <cdp-date-selector [(model)]="question.questionConsider.planDate" (modelChange)="planDateChanged($event)"
                [disabled]="!planDateEditable"></cdp-date-selector>
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1 control-label" *ngIf="question.questionConsider.planDateEditor">Изменил</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <input name="planDateEditor" type="text" class="form-control"
                     *ngIf="question.questionConsider.planDateEditor"
                     [(ngModel)]="question.questionConsider.planDateEditor" disabled="disabled">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Докладчик</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <div *ngIf="question.questionConsider.speaker">
                <div class="m-b-xs">
                  <label class="control-label">{{question.questionConsider.speaker.organizationShort}}</label>
                </div>
              </div>
              <button *ngIf="question.questionConsider.speaker" (click)="clearSpeaker()" type="button"
                      class="btn btn-w-m btn-primary">Очистить
              </button>
              <cdp-tree-select *ngIf="!question.questionConsider.speaker"
                               [(model)]="question.questionConsider.speaker"
                               (modelChange)="speakerChanged($event)"
                               [dictionaryMetaData]="speakerDictData"
                               [modalTitle]="'Выбор докладчика'"
                               [buttonName]="'Выбрать докладчика'"
                               [buttonClass]="'btn btn-default'"
              ></cdp-tree-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Содокладчики</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <!--TODO: ui-sortable-->
              <ul type="square" style="padding-left: 16px;" *ngIf="question.questionConsider.cospeaker"
                  ui-sortable [(ngModel)]="question.questionConsider.cospeaker">
                <li *ngFor="let item of question.questionConsider.cospeaker" style="white-space: pre-wrap;">
                  {{item.organizationShort}}
                </li>
              </ul>
              <cdp-tree-select [(model)]="question.questionConsider.cospeaker"
                               (modelChange)="cospeakersChanged($event)"
                               [dictionaryMetaData]="cospeakerDictData"
                               [modalTitle]="'Выбор содокладчиков'"
                               [buttonName]="'Выбрать содокладчиков'"
                               [buttonClass]="'btn btn-default'"
              ></cdp-tree-select>
            </div>
          </div>

          <hr/>

          <h4>Материалы</h4>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Ответственный за подготовку презентации</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="presentationPrepare"
                         [items]="presentationResponsibles"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="fioFull"
                         [(ngModel)]="question.questionConsider.presentationPrepare">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Материалы проверены</label>
            <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
              <label> <input name="materialsChecked" type="checkbox" cdp-icheck
                             [(ngModel)]="question.questionConsider.materialsChecked"> <i></i> Материалы проверены
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button (click)="save()" type="button"
                      class="btn btn-w-m btn-primary m-r-sm">Сохранить
              </button>
              <button (click)="cancelEdit()" type="button" class="btn btn-w-m btn-default">Отмена</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
