<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Выберите вид утверждения протокола</h3>
  </div>
  <div class="modal-body">
    <form class="clearfix form-horizontal">
      <div class="form-group" style="margin-bottom: 0">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-9 col-md-9 col-sm-9 text-right">
          <button type="button" class="btn btn-primary m-l-sm" (click)="save(true)" >Электронное утверждение</button>
          <button type="button" class="btn btn-primary m-l-sm" (click)="save(false)" >Подписание на бумаге</button>
          <button type="button" class="btn btn-white m-l-sm" (click)="cancel()">Отмена</button>
        </div>
      </div>

    </form>
  </div>
</div>
