<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success" class="m-t-md">
      <div class="animated fadeIn" id="jsoneditor" style="width: 100%;"></div>
      <br>
      <button type="button" class="btn btn-default" (click)="save()">Сохранить измененный документ</button>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при загрузке документа
      </h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
