
<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *ngIf="!editing">
        <div *ngIf="express">
          <mggt-express-agenda-view [(agenda)]="agenda" (edit)="edit($event)"
                                    [reload]="reload"></mggt-express-agenda-view>
        </div>
        <div *ngIf="!express">
          <meeting-agenda-view [(agenda)]="agenda" (edit)="edit($event)" [reload]="reload"></meeting-agenda-view>
        </div>
      </div>
      <div *ngIf="editing">
        <div *ngIf="express">
          <mggt-express-agenda-edit (edit)="edit($event)" [reload]="reload" [(agenda)]="agenda"></mggt-express-agenda-edit>
        </div>
        <div *ngIf="!express">
          <meeting-agenda-edit [(agenda)]="agenda"
                               (saveAgenda)="saveAgenda($event.questions, $event.questionsToCopy, $event.stayInEditMode)"
                               (publishAgenda)="publishAgenda($event)" (cancel)="cancelEdit()"></meeting-agenda-edit>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
