<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'signProtocol'">
        <div class="description">
          <dl class="dl-horizontal">
            <dt>
              <span>Вид совещания</span>
            </dt>
            <dd>
              <span>{{agenda?.meetingFullName}}</span>
            </dd>

            <dt>
              <span>Заседание</span>
            </dt>
            <dd>
              <a uiSref="app.meeting.agenda" [uiParams]="{id: agenda?.agendaID}">
                <span> № {{agenda?.meetingNumber}}</span>
                <span> от </span>
                <span>{{agenda?.meetingDate | date:'dd.MM.yyyy'}}</span>
              </a>
            </dd>

            <dt>
              <span>Тема</span>
            </dt>
            <dd>
              <span>{{agenda.meetingTheme}}</span>
            </dd>

            <dt>
              <span>Время проведения</span>
            </dt>
            <dd>
              <span *ngIf="!agenda.meetingTimeEnd" class="m-r">
                с {{agenda.meetingTime | date: 'HH:mm'}}
              </span>
              <span *ngIf="agenda.meetingTimeEnd" class="m-r">
                с {{agenda.meetingTime | date: 'HH:mm'}} до {{agenda.meetingTimeEnd | date: 'HH:mm'}}
              </span>
            </dd>

            <dt *ngIf="agenda.initiator">
              <span>Инициатор</span>
            </dt>
            <dd *ngIf="agenda.initiator">
              <span *ngIf="agenda.initiator.fioFull">{{agenda.initiator.fioFull}}</span>
              <span *ngIf="agenda.initiator.fioFull && agenda.initiator.post">, </span>
              <span *ngIf="agenda.initiator.post">{{agenda.initiator.post}}</span>
            </dd>

            <dt>
              <span>Участники</span>
            </dt>
            <dd>
              <span *ngFor="let attended of agenda.attended; let i = index">
                <span *ngIf="i">, </span> {{attended.iofShort}}
              </span>
            </dd>
          </dl>

          <h4 class="m-t-lg">Проект протокола</h4>

          <div *ngIf="document.protocol.fileProtocolDraft">
           <cdp-ex-file-manager [files]="[{ nameFile: document.protocol.fileProtocolDraft.nameFile,
                idFile:   document.protocol.fileProtocolDraft.idFile,
                sizeFile: document.protocol.fileProtocolDraft.sizeFile,
                dateFile: document.protocol.fileProtocolDraft.dateFile,
                signed:   document.protocol.fileProtocolDraft.signed}]" [showSize]="true" [showDate]="true"
              [folderGuid]="document.protocol.folderId" [downloadBaseHref]="'/filestore'">
            </cdp-ex-file-manager>
          </div>

          <div style="display: none">
            <cdp-ex-file-manager [files]="[protocolFile]" [showSize]="false" [showDate]="false"
              [(openSignDialog)]="openSignDialog" [(signMobile)]="openMobileSignDialog"
              [signable]="true"
              [folderGuid]="document.protocol.folderId" [beforeSign]="beforeSign" [afterSign]="afterSign"
              [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
          </div>

          <br/>
          <h4 class="m-t-lg">Ваше решение</h4>

          <form class="form-horizontal m-t-lg">
            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <textarea class="form-control" [(ngModel)]="approvalNote" name="reviwContent" rows="3"></textarea>
              </div>
            </div>

            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файл</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <cdp-ex-file-manager [(files)]="files" [openable]="!!agenda?.agendaID" [baseMode]="!agenda.folderId" [deletable]="true" [fileType]="'default'" [downloadable]="true" [folderGuid]="agenda?.folderId" [downloadBlank]="true"
            [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                <div class="dropzone" *ngIf="uploading" style="padding-top: 62px;">
                  <div *ngIf="uploading">
                    <cdp-spinner [type]="'circle'"></cdp-spinner>
                  </div>
                </div>

                <div *ngFor="let file of fileQueueToDisplay">
                  <cdp-ex-file [fileInfo]="file" [deletable]="true" (onRemove)="removeFile($event)" [showDate]="true"
                    [showSize]="true" [folderGuid]="agenda.folderId" [systemCode]="'MkaDocOther'"
                    [downloadBaseHref]="'/filestore'" [downloadBlank]="true"></cdp-ex-file>
                </div>
              </div>
            </div>

            <div class="row m-t-lg">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
              <div class="col-lg-7 col-md-8 col-sm-9 control-block">
                <button *ngIf="checkSign == 'all' || checkSign == 'plugin'" class="btn btn-sm btn-success m-r-sm"
                  (click)="isMobile=false; approve()" [ladda]="approving" data-spinner-size="18" data-spinner-color="#FFFFFF"
                  data-style="expand-right" [disabled]="sendingBackToWork || approving">
                  <i class="fa m-r-xs fa fa-laptop"></i>Утвердить
                </button>

                <button type="button"
                  *ngIf="checkSign == 'all' || checkSign == 'dss'"
                  class="btn btn-sm btn-success m-r-sm" (click)="isMobile=true; approve()" [ladda]="approving"
                  data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                  [disabled]="sendingBackToWork || approving">
                  <i class="fa m-r-xs fa fa-mobile"></i>Утвердить
                </button>
                <button type="button" *ngIf="checkSign == 'none'"
                  class="btn btn-success  m-r-sm" ng-disabled="true">
                  <i class="fa m-r-xs"></i>Обратитесь к администратору
                </button>

                <button (click)="reject()" class="btn btn-danger" [ladda]="sendingBackToWork" data-spinner-size="18"
                  data-spinner-color="#FFFFFF" data-style="expand-right" [disabled]="sendingBackToWork || approving">
                  На доработку
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center">
        <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
