<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form method="get" class="form-horizontal">

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <h4 *ngIf="!!agenda.agendaID">Редактировать совещание</h4>
            <h4 *ngIf="!agenda.agendaID">Создать совещание</h4>
          </div>
          <div *ngIf="editing" class="col-lg-7 col-md-8 col-sm-9">
            <p class="semibold">
              <span>Заседание</span>
              <span *ngIf="agenda.meetingNumber"> № {{agenda.meetingNumber}}</span>
              <span> от {{agenda.meetingDate | date: "dd.MM.yyyy"}}</span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид совещания<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="meetingType" [disabled]="agenda.agendaID" [items]="meetingTypes" [multiple]="false"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="meetingFullName" bindValue="meetingType"
              [(ngModel)]="agenda.meetingType" (change)="meetingTypeChanged()">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Инициатор
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select [items]="initiators$ | async" [disabled]="agenda.status && agenda.status.code !== 'assign'"
              bindLabel="fioFull" [multiple]="false" [hideSelected]="true" [loading]="initiatorsLoading"
              [typeahead]="initiatorsInput$" placeholder="Введите 3 символов для начала поиска"
              [(ngModel)]="agenda.initiator" name="initiator">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тема совещания<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="meetingTheme" [disabled]="agenda.status && agenda.status.code !== 'assign'"
              [items]="meetingThemes" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name"
              bindValue="code" [required]="true" [(ngModel)]="agenda.meetingCodeTheme"
              (change)="meetingThemeChanged($event)">
            </ng-select>
            <button cdp-is-auth="MEETING_EXPRESS_CREATE_THEME" class="btn btn-primary m-t-sm" (click)="createTheme()">
              Создать тему
            </button>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата совещания<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <cdp-date-selector [(model)]="agenda.meetingDate" [disabled]="agenda.status" [required]="true"
              [minDate]="minDate" [disabled]="disabledDate" (modelChange)="updateIntersectionsWarnings()">
            </cdp-date-selector>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время начала<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-8 col-md-9 col-sm-3">
            <div class="input-group " clock-picker data-autoclose="true">
              <timepicker [(ngModel)]="agenda.meetingTime" name="meetingTime" [showMeridian]="false"
                [mousewheel]="false" [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'"
                [disabled]="agenda.status" (ngModelChange)="showMeetingTimeEndError(); updateIntersectionsWarnings()">
              </timepicker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время окончания<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-8 col-md-9 col-sm-3">
            <div class="input-group " clock-picker data-autoclose="true">
              <timepicker [(ngModel)]="agenda.meetingTimeEnd" name="meetingTimeEnd" [showMeridian]="false"
                [mousewheel]="false" [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'"
                [disabled]="agenda.status" (ngModelChange)="showMeetingTimeEndError(); updateIntersectionsWarnings()">
              </timepicker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Место проведения
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="meetingPlace" [disabled]="agenda.status" [items]="meetingPlaces" [multiple]="false"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
              [(ngModel)]="agenda.meetingPlaceCode" (change)="meetingPlaceChanged()">
            </ng-select>
            <!---->
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Группы участников</label>
          <div class="col-lg-7 col-md-8 col-sm-9" data-spinner-size="18" data-spinner-color="#AAAAAA"
            data-style="expand-right">
            <ng-select [items]="emailGroupsList" name="emailGroups"
              [disabled]="agenda.status && agenda.status.code !== 'assign'" bindLabel="name" [multiple]="true"
              [placeholder]="'Группы участников'" [hideSelected]="true" [(ngModel)]="emailGroups"
              (add)="updateAttendedAfterEmailGroups($event); updateIntersectionsWarnings(); updateResponsibles(); updateQuestionsResponsibles();"
              (remove)="onRemoveEmailGroups($event); updateIntersectionsWarnings(); updateResponsibles(); updateQuestionsResponsibles();">
            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Участники
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select [items]="attended$ | async" name="attended"
              [disabled]="agenda.status && agenda.status.code !== 'assign'" bindLabel="fioFull" [multiple]="true"
              [hideSelected]="true" [loading]="attendedLoading" [typeahead]="attendedInput$"
              placeholder="Участники, введите 3 символов для начала поиска"
              (change)="updateIntersectionsWarnings(); updateEmailGroupsAfterAttended(); updateResponsibles(); updateQuestionsResponsibles(); updateIntersectionsWarnings();"
              [(ngModel)]="agenda.attended">
            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <div *ngFor="let intersectionWarning of intersectionsWarnings" class="text-danger"
              [innerHtml]="intersectionWarning">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <div
              *ngIf="!agenda.agendaID || (!agenda.meetingType && (!agenda.status || agenda.status.code === 'assign'))"
            >
              <div *ngIf="!agenda.folderId" class="hide-ex-files-inside-manager">
                <cdp-ex-file-manager [(files)]="files" [openable]="true" [baseMode]="!agenda.folderId"
                  [deletable]="true" [fileType]="'default'" [downloadable]="true" [folderGuid]="agenda?.folderId" (onChanged)="onFakeFileChange($event)"
                  [downloadBlank]="true" [downloadBaseHref]="'/filestore'">
                </cdp-ex-file-manager>
                <div class="dropzone" *ngIf="uploading" style="padding-top: 62px;">
                  <div *ngIf="uploading">
                    <cdp-spinner [type]="'circle'"></cdp-spinner>
                  </div>
                </div>

                <div *ngFor="let file of files">
                  <mggt-order-file [file]="file" (onDelete)="onDeleteFakeFile($event)"></mggt-order-file>
                </div>
              </div>
              <ng-container *ngIf="agenda.folderId">
                <cdp-ex-file-manager [(files)]="files" [openable]="true" [baseMode]="!agenda.folderId"
                  [deletable]="true" [fileType]="'default'" [downloadable]="true" [folderGuid]="agenda?.folderId"
                  [downloadBlank]="true" [downloadBaseHref]="'/filestore'">
                </cdp-ex-file-manager>
                <div class="dropzone" *ngIf="uploading" style="padding-top: 62px;">
                  <div *ngIf="uploading">
                    <cdp-spinner [type]="'circle'"></cdp-spinner>
                  </div>
                </div>
              </ng-container>
            </div>
            <cdp-ex-file-manager *ngIf="!!agenda.agendaID" [files]="agenda.filesAttach" [deletable]="true"
              [fileType]="'default'" [downloadable]="true" [folderGuid]="agenda.folderId" [downloadBlank]="true"
              [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
          </div>
          <div class="col-lg-7 col-md-8 col-sm-9"
            *ngIf="!agenda.meetingType && (!agenda.status || agenda.status.code === 'assign')">
            <div class="dropzone" style="padding-top: 62px;">
              <span>Выберите вид совещания, чтобы прикрепить файлы</span>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!agenda.agendaID">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <div *ngFor="let file of fileQueueToDisplay">
              <cdp-ex-file [fileInfo]="file" [deletable]="true" (onRemove)="removeFile($event)" [showDate]="true"
                [showSize]="true" [folderGuid]="agenda.folderId" [systemCode]="'MkaDocOther'"
                [downloadBaseHref]="'/filestore'" [downloadBlank]="true"></cdp-ex-file>
            </div>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вопросы</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <div>
              <table class="table" style="table-layout: fixed;">
                <thead>
                  <tr>
                    <th width="75" *ngIf="questions.length > 1"></th>
                    <th class="center" width="50%">Вопрос</th>
                    <th class="center" width="50%">Ответственный</th>
                    <th width="100"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!questions.length">
                    <td></td>
                    <td></td>
                    <td>
                      <button class="btn btn-sm btn-default" *ngIf="showAddQuestionButton" (click)="addQuestion()"
                        title="Добавить вопрос">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr
                    *ngFor="let question of questions;trackBy: trackByFn; let index = index; let last = last; let first = first;">
                    <td *ngIf="questions.length > 1">
                      <button type="button" class="btn btn-xs btn-default" *ngIf="!first"
                        (click)="swapQuestions(index, index - 1)">
                        <i class="fa fa-arrow-up m-r-xs"></i>
                      </button>
                      <button type="button" class="btn btn-xs btn-default" *ngIf="!last"
                        (click)="swapQuestions(index, index + 1)">
                        <i class="fa fa-arrow-down m-r-xs"></i>
                      </button>
                    </td>
                    <td>
                      <textarea name="question-{{index}}" class="form-control"
                        [(ngModel)]="question.questionConsider.question" textarea-resizable></textarea>
                    </td>
                    <td>
                      <div>
                        <ng-select (open)="openResponsibles()" (focus)="openResponsibles()" [items]="responsibles1"
                          name="responsiblePrepare-{{index}}" bindLabel="contractorPrepareFIO" [multiple]="false"
                          [hideSelected]="true" [(ngModel)]="question.questionConsider.responsiblePrepare">
                        </ng-select>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-default" (click)="deleteQuestion(index)"
                        *ngIf="showAddQuestionButton" title="Удалить вопрос">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button class="btn btn-sm btn-default" *ngIf="last && showAddQuestionButton"
                        (click)="addQuestion()" title="Добавить вопрос">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button *ngIf="isAvailableToMeetingAgendaCreate()" (click)="save()" type="button" class="btn btn-w-m btn-primary" [ladda]="saving"
              data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              <span *ngIf="!agenda.agendaID">Создать совещание</span>
              <span *ngIf="agenda.agendaID">Сохранить</span>
            </button>
            <button (click)="cancel()" type="button" class="btn btn-w-m btn-default" [disabled]="saving">
              Отмена
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>



