<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" (click)="cancel()">&times;</button>
    <h4 class="modal-title">Добавление материалов</h4>
  </div>
  <div class="modal-body">
    <form role="form" class="m-t form-horizontal" name="addMaterialsForm">
      <div class="form-group" *ngFor="let materialType of materialTypes">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">{{materialType.materialType}}</label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <a>
            <div class="dropzone" [dropzone]="getDropzoneConfig(materialType)">
              <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
            </div>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
    <div *ngIf="questionHistory.length > 0">
      <h4>Использовать материалы предыдущего рассмотрения</h4>
      <div *ngFor="let question of questionHistory">
        <div>
          <h5>
            <span>{{question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</span>
            <span *ngIf="hasQuestionViewPermission"><a uiSref="app.meeting.question" [uiParams]="{id: question.questionID}">{{question.questionConsider.meetingNumber}}</a></span>
            <span *ngIf="!hasQuestionViewPermission">{{question.questionConsider.meetingNumber}}</span>
            <span>п.{{question.questionConsider.itemNumber}}</span>
            <span *ngIf="question.questionConsider.questionStatus">(вопрос рассмотрен)</span>
            <span *ngIf="!question.questionConsider.questionStatus">(вопрос планируется к рассмотрению)</span>
          </h5>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Тип документа</th>
              <th>Файл</th>
              <th>Использовать</th>
            </tr>
            </thead>
            <tbody *ngFor="let material of question.questionConsider.materials">
            <tr *ngFor="let document of material.document">
              <td>{{material.materialType}}</td>
              <td>
                <cdp-ex-file-manager [files]="[document]" [downloadable]="false" [showSize]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
              </td>
              <td>
                <input type="checkbox" cdp-icheck="" [(ngModel)]="copies[document.idFile]">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [ladda]="saving">Сохранить
    </button>
    <button type="button" class="btn btn-white" (click)="cancel()" [ladda]="saving">Отмена</button>
  </div>
</div>
