<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="m-b-md">Вопрос к рассмотрению</h4>
          <div class="description">
            <dl class="dl-horizontal" *ngIf="question.planningMeeting">
              <dt>
                <span>Адрес вопроса</span>
              </dt>
              <dd>{{question.questionConsider.address}}</dd>
              <dt>
                <span>Округ</span>
              </dt>
              <dd>
                <span *ngIf="question.questionConsider.prefect">{{question.questionConsider.prefect.join(', ')}}</span>
              </dd>
              <dt>
                <span>Район</span>
              </dt>
              <dd>
                <span
                  *ngIf="question.questionConsider.district">{{question.questionConsider.district.join(', ')}}</span>
              </dd>
              <dt>
                <span>Кадастровый номер</span>
              </dt>
              <dd>{{question.questionConsider.cadastralNumber}}</dd>
              <dt *ngIf="question.Renovation">
                <span>Реновация</span>
              </dt>
              <dd *ngIf="question.Renovation">Да</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>
                <span>Рассмотрение</span>
              </dt>
              <dd>{{question.questionConsider.consideration}}</dd>
              <dt>
                <span>Вопрос</span>
              </dt>
              <dd>{{question.questionConsider.question}}</dd>
              <dt>
                <span>Категория вопроса</span>
              </dt>
              <dd>{{question.questionConsider.questionCategory}}</dd>
              <dt>
                <span>Основание</span>
              </dt>
              <dd>
                <span>{{question.questionConsider.basis.basisType}}</span>
                <span *ngIf="hasPzz()">
						      <a [href]="getPzzLink()"> {{question.questionConsider.basis.number}}</a>
					      </span>
                <span *ngIf="!hasPzz()"> {{question.questionConsider.basis.number}}</span>
                <span> от {{question.questionConsider.basis.date | date:"dd.MM.yyyy"}}</span>
                <span> {{question.questionConsider.basis.note}}</span>
              </dd>
              <dt *ngIf="isGpzu()">
                <span>ГПЗУ</span>
              </dt>
              <dd *ngIf="isGpzu()">
                <a [href]="getGpzuLink()">{{question.questionConsider.gpzu}}</a>
              </dd>
              <dt *ngIf="!isGpzu() && question.questionConsider.gpzu">
                <span>ГПЗУ</span>
              </dt>
              <dd *ngIf="!isGpzu() && question.questionConsider.gpzu">
                <span>{{question.questionConsider.gpzu}}</span>
              </dd>
              <dt>
                <span>Дата направления</span>
              </dt>
              <dd>{{question.questionConsider.passDate | date:"dd.MM.yyyy"}}</dd>
              <dt>
                <span>Ответственное управление</span>
              </dt>
              <dd>{{question.questionConsider.responsiblePrepare?.departmentPrepareFull}}</dd>
              <dt>
                <span>Ответственный за подготовку вопроса</span>
              </dt>
              <dd>{{question.questionConsider.responsiblePrepare?.contractorPrepareFIO}}</dd>
              <dt *ngIf="question.planningMeeting">
                <span>Заявитель</span>
              </dt>
              <dd *ngIf="question.planningMeeting">{{question.questionConsider.customer}}</dd>
              <dt *ngIf="question.planningMeeting">
                <span>Правообладатель</span>
              </dt>
              <dd *ngIf="question.planningMeeting">{{question.questionConsider.rightHolder}}</dd>
            </dl>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="pull-right">
            <button class="btn btn-sm btn-primary" (click)="editCard()" meetingMyAuth="MEETING_QUESTION_EDIT_BUTTON"
                    *ngIf="!question.questionConsider.meetingDate && !regularExternal">
              <i class="fa fa-pencil m-r-xs"></i>Редактировать
            </button>
          </div>
          <h4>Материалы</h4>
          <cdp-loading-block [loadingStatus]="loadingMaterialsStatus">
            <div success>
              <div *ngFor="let material of question.questionConsider.materials">
                <div class="semibold m-t-sm m-b-sm">
                  <span class="m-r">{{material.materialType}}</span>
                </div>
                <div *ngFor="let document of material.document">
                  <cdp-ex-file-manager [files]="[document]" [showSize]="true" [showDate]="true"
                                       [downloadable]="false" [downloadBaseHref]="'/filestore'"
                                       [deletable]="isEditableMaterialGroup(material.materialType) && canDeleteMaterials"
                                       [onRemove]="deleteDocument"></cdp-ex-file-manager>
                </div>
              </div>
              <div class="text-success m-t-sm m-b-sm semibold" *ngIf="question.questionConsider.materialsChecked">
                <i class="fa fa-check"></i> Материалы проверены
              </div>
              <div class="text-default m-t-sm m-b-sm semibold" *ngIf="!question.questionConsider.materialsChecked">
                Материалы не проверены
              </div>
              <div class="m-b">
                <small>Ответственный за подготовку презентации:
                  {{question.questionConsider.presentationPrepare?.fioFull}}
                </small>
              </div>
              <div class="m-b">
                <button (click)="showAddMaterialsDialog()" *ngIf="question.questionID && !regularExternal" type="button"
                        class="btn btn-w-m btn-primary" meetingMyAuth="MEETING_QUESTION_MATERIALS_ADD_BUTTON">Добавить
                  материалы
                </button>
              </div>
            </div>
            <div error>
              <div style="height: 200px; padding-top: 70px;">
                <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при загрузке
                  списка материалов</h3>
              </div>
            </div>
            <div loading>
              <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
            </div>
          </cdp-loading-block>
        </div>
      </div>
      <h4 class="m-b-md" *ngIf="isUnauthBuild()">Самострой</h4>
      <div class="description" *ngIf="isUnauthBuild()">
        <dl class="dl-horizontal">
          <dt>
            <span>Наличие заявки о сохранении объекта</span>
          </dt>
          <dd>
            <span *ngIf="question.questionConsider.requestSaveObject">Есть</span>
            <span *ngIf="!question.questionConsider.requestSaveObject">Нет</span>
          <dt>
            <span>Градостроительные ограничения</span>
          </dt>
          <dd>{{getUrbanLimitsString()}}</dd>
          <dt>
            <span>Наличие инженерных сетей</span>
          </dt>
          <dd>{{getNetworkEngineeringsString()}}</dd>
          <dt>
            <span>Примечание</span>
          </dt>
          <dd>{{question.questionConsider.noteSquatter}}</dd>
          <dt>
            <span>Повтор</span>
          </dt>
          <dd>
            <span *ngIf="question.questionConsider.repeatSquatter">Да</span>
            <span *ngIf="!question.questionConsider.repeatSquatter">Нет</span>
          </dd>
        </dl>
      </div>
      <div class="description" *ngIf="question.questionConsider.requestNumber">
        <dl class="dl-horizontal">
          <dt>
            <span>Номер регистрации</span><br/>
            <span><small>в Комплексе градостроительной политики и строительства г. Москвы</small></span>
          </dt>
          <dd>{{question.questionConsider.requestNumber}}</dd>
        </dl>
      </div>
      <h4 class="m-b-md" *ngIf="isShowExternalProtocol()">Протокол основание</h4>
      <div class="description" *ngIf="isShowExternalProtocol()">
        <dl class="dl-horizontal">
          <dt *ngIf="question.questionConsider.externalProtocol.commission">
            <span>Вид совещания</span>
          </dt>
          <dd *ngIf="question.questionConsider.externalProtocol.commission">
            {{question.questionConsider.externalProtocol.commission.shortName}}
          </dd>
          <dt
            *ngIf="question.questionConsider.externalProtocol.protocolNumber || question.questionConsider.externalProtocol.protocolDate">
            <span>Протокол</span>
          </dt>
          <dd
            *ngIf="question.questionConsider.externalProtocol.protocolNumber || question.questionConsider.externalProtocol.protocolDate">
            <span>{{question.questionConsider.externalProtocol.protocolNumber}}</span>
            <span *ngIf="question.questionConsider.externalProtocol.protocolDate"> от {{question.questionConsider.externalProtocol.protocolDate | date: 'dd.MM.yyyy'}}</span>
          </dd>
          <dt *ngIf="question.questionConsider.externalProtocol.pointNumber">
            <span>Номер пункта</span>
          </dt>
          <dd *ngIf="question.questionConsider.externalProtocol.pointNumber">
            {{question.questionConsider.externalProtocol.pointNumber}}
          </dd>
          <dt *ngIf="question.questionConsider.externalProtocol.decision">
            <span>Решение</span>
          </dt>
          <dd *ngIf="question.questionConsider.externalProtocol.decision">
            {{question.questionConsider.externalProtocol.decision}}
          </dd>
        </dl>
      </div>
      <h4 class="m-b-md">Решение</h4>
      <div class="description">
        <dl class="dl-horizontal">
          <dt>
            <span>Решение</span>
          </dt>
          <dd>
            <meetings-question-decision
              [decision]="question.questionConsider.decisionType"
              [decisionCode]="question.questionConsider.decisionTypeCode"
              [small]="true"
            ></meetings-question-decision>
          </dd>

          <dt *ngIf="question.questionConsider.questionStatus">
            <span>Текст решения</span>
          </dt>
          <dd *ngIf="question.questionConsider.questionStatus"
              [innerHTML]="question.questionConsider.decisionText" style="white-space: pre-wrap"></dd>

          <dt *ngIf="!question.questionConsider.questionStatus">
            <span>Проект решения</span>
          </dt>
          <dd *ngIf="!question.questionConsider.questionStatus"
              [innerHTML]="question.questionConsider.decisionDraft" style="white-space: pre-wrap"></dd>

        </dl>
      </div>
      <h4 class="m-b-md">Заседание</h4>
      <div class="description">
        <dl class="dl-horizontal">
          <dt>
            <span>Планируемая дата рассмотрения</span>
          </dt>
          <dd>{{question.questionConsider.planDate | date: "dd.MM.yyyy"}}</dd>
          <dt>
            <span>Дата заседания</span>
          </dt>
          <dd>{{question.questionConsider.meetingDate | date: "dd.MM.yyyy"}}</dd>
          <dt>
            <span>Номер протокола</span>
          </dt>
          <dd>
            <span *ngIf="protocol && canViewProtocol">
              <a uiSref="app.meeting.protocol" [uiParams]="{id: protocol.protocolID}">{{question.questionConsider.meetingNumber}}</a>
            </span>
            <span *ngIf="!protocol || !canViewProtocol">{{question.questionConsider.meetingNumber}}</span>
          </dd>
          <dt>
            <span>Номер пункта</span>
          </dt>
          <dd>{{question.questionConsider.itemNumber}}</dd>
          <dt>
            <span>Докладчик</span>
          </dt>
          <dd>{{question.questionConsider.speaker?.organizationShort}}</dd>
          <dt>
            <span>Содокладчики</span>
          </dt>
          <dd>
            <div *ngFor="let cospeaker of question.questionConsider.cospeaker">{{cospeaker.organizationShort}}</div>
          </dd>
          <dt>
            <span>Статус</span>
          </dt>
          <dd>
            <span *ngIf="question.questionConsider.questionStatus">Вопрос рассмотрен</span> <span
            *ngIf="!question.questionConsider.questionStatus">Вопрос планируется к рассмотрению</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
