<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class=" table-overflow-container" *ngIf="documents && documents.length" style="overflow-x: auto;">
        <table class="table search-result-table table-striped table-hover table-instructions"
               style="font-size:14px;color: #676a6c;">
          <thead>
          <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
            <th style="font-weight: 600;" data-info="condition">Статус</th>
            <th style="font-weight: 600;" data-info="docDateInst">Дата поручения</th>
            <th style="font-weight: 600;" data-info="instructionNumber">Номер поручения</th>
            <th style="font-weight: 600;" data-info="creatorFioFull">Автор поручения</th>
            <th style="font-weight: 600;" data-info="content">Содержание</th>
            <th style="font-weight: 600;" data-info="planDate">Срок исполнения</th>
            <th style="font-weight: 600;" data-info="executorFioFull">Ответственный исполнитель</th>
            <th style="font-weight: 600;" data-info="coExecutorFIO">Исполнитель</th>
            <th style="font-weight: 600;" data-info="priorityName">Приоритет</th>
            <th style="font-weight: 600;" data-info="reportDateInst">Дата исполнения</th>
            <th style="font-weight: 600;" data-info="acceptDateInst">Дата принятия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of documents">
            <td style="white-space: nowrap;"><a href="{{d.link}}"><span
              class="label label-{{getCondition(d.condition).color}}">{{d.condition}}</span></a></td>
            <td *ngIf="!d.fromMKA">
              <a href="{{d.link}}">{{d.docDateInst | date: 'dd.MM.yyyy HH:mm'}}</a>
            </td>
            <td *ngIf="d.fromMKA">
              <a href="{{d.link}}">{{d.docDateInst | date: 'dd.MM.yyyy'}}</a>
            </td>
            <td><a href="{{d.link}}">{{d.instructionNumber}}</a></td>
            <td><a href="{{d.link}}">{{d.creatorFioFull}}</a></td>
            <td><a href="{{d.link}}">
              <div *ngIf="d.content" class="m-b-xs">{{d.content}}</div>
              <div *ngIf="d.themeName" class="m-b-xs">{{d.themeName}}</div>
              <div *ngIf="d.difficultyName">{{d.difficultyName}}</div>
            </a></td>
            <td *ngIf="!d.fromMKA">
              <span><a href="{{d.link}}">{{d.planDateInst | date: 'dd.MM.yyyy HH:mm'}}</a></span>
              <span *ngIf="d.primaryDateInst">(перенесено с {{d.primaryDateInst | date: 'dd.MM.yyyy HH:mm'}})</span>
            </td>
            <td *ngIf="d.fromMKA">
              <span><a href="{{d.link}}">{{d.planDateInst | date: 'dd.MM.yyyy'}}</a></span>
              <span *ngIf="d.primaryDateInst">(перенесено с {{d.primaryDateInst | date: 'dd.MM.yyyy'}})</span>
            </td>
            <td><a href="{{d.link}}">{{d.executorFioFull}}</a></td>
            <td><a href="{{d.link}}">{{d.coExecutorFIO ? d.coExecutorFIO.join(', ') : ''}}</a></td>
            <td><a href="{{d.link}}"><span
              class="text-{{getPriority(d.priorityName).color}}">{{d.priorityName}}</span></a></td>
            <td *ngIf="!d.fromMKA">
              <a href="{{d.link}}">{{d.reportDateInst | date: 'dd.MM.yyyy HH:mm'}}</a>
            </td>
            <td *ngIf="d.fromMKA">
              <a href="{{d.link}}">{{d.reportDateInst | date: 'dd.MM.yyyy'}}</a>
            </td>
            <td *ngIf="!d.fromMKA">
              <a href="{{d.link}}">{{d.acceptDateInst | date: 'dd.MM.yyyy HH:mm'}}</a>
            </td>
            <td *ngIf="d.fromMKA">
              <a href="{{d.link}}">{{d.acceptDateInst | date: 'dd.MM.yyyy'}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!documents || !documents.length">
        <div style="height: 200px; padding-top: 70px;">
          <h1 class="text-center">Нет элементов для отображения</h1>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при получении списка
        поручени</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
