<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <h4 class="m-b-md">Показатели</h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="25%">Показатель</th>
            <th width="25%">Действующие</th>
            <th width="25%">Предлагаемые</th>
            <th width="25%">Рекомендуемые</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Основные виды разрешенного использования</td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let current of question.questionConsider.parameters.mainVRI.current">
                  <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let new of question.questionConsider.parameters.mainVRI.new">
                  <span class="white-space__pre">{{new.name}} [{{new.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let recommended of question.questionConsider.parameters.mainVRI.recommended">
                  <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>
                </li>
              </ul>
              <!--TODO: tree select-->
              <cdp-tree-select [(model)]="question.questionConsider.parameters.mainVRI.recommended"
                               [dictionaryMetaData]="mainVRIDictData"
                               [buttonName]="'Выбрать из справочника'"
                               [buttonClass]="'btn btn-primary'"
              ></cdp-tree-select>
            </td>
          </tr>
          <tr>
            <td>Условно разрешенные виды использования</td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let current of question.questionConsider.parameters.relativelyVRI.current">
                  <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let new of question.questionConsider.parameters.relativelyVRI.new">
                  <span class="white-space__pre">{{new.name}} [{{new.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let recommended of question.questionConsider.parameters.relativelyVRI.recommended">
                  <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>

                </li>
              </ul>
              <!--TODO: tree select (click)="onSelectFromReferenceClick2()"-->
              <button type="button" class="btn btn-primary">
                <i class="fa fa-bars"></i>&nbsp;Выбрать из справочника
              </button>
            </td>
          </tr>
          <tr>
            <td>Вспомогательные виды</td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let current of question.questionConsider.parameters.subVRI.current">
                  <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <ul style="padding-left: 16px;">
                <li *ngFor="let new of question.questionConsider.parameters.subVRI.new">
                  <span class="white-space__pre">{{new.name}} [{{new.code}}]</span>
                </li>
              </ul>
            </td>
            <td>
              <div class="form-group">
                <ul style="padding-left: 16px;">
                  <li *ngFor="let recommended of question.questionConsider.parameters.subVRI.recommended">
                    <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>
                  </li>
                </ul>
                <!--TODO: tree select (click)="onSelectFromReferenceClick3()"-->
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-bars"></i>&nbsp;Выбрать из справочника
                </button>
              </div>
              <textarea class="form-control our-control m-t-xs"
                        [(ngModel)]="question.questionConsider.parameters.subVRI.recommendedComment" rows="10"
                        [ngModelOptions]="{standalone: true}"
                        style="width: 100%;"></textarea>
            </td>
          </tr>
          <tr *ngFor="let tep of question.questionConsider.parameters.tep">
            <td>{{tep.tepName.name}}</td>
            <td class="white-space__pre">{{tep.currentValue}}</td>
            <td class="white-space__pre">{{tep.newValue}}</td>
            <td>
              <input
                *ngIf="tep.tepName.type==='integer'"
                type="text"
                class="form-control"
                [(ngModel)]="tep.recommendedValue" [ngModelOptions]="{standalone: true}"
                (ngBlur)="tep.recommendedValue = normalize(tep.recommendedValue)"
              >
              <textarea
                *ngIf="tep.tepName.type==='textarea'"
                class="form-control our-control m-t-xs white-space__pre"
                [(ngModel)]="tep.recommendedValue" [ngModelOptions]="{standalone: true}"
                rows="10"
              ></textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br/>
      <button (click)="save()" class="btn btn-sm btn-primary">
        <i class="fa fa-pencil m-r-xs"></i>Сохранить
      </button>

      <a (click)="cancel()" class="btn btn-sm btn-default">
        Отменить
      </a>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
