<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" (click)="cancel()">&times;</button>
    <h4 class="modal-title">Комментарий по вопросу</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Содержание</label>
      <textarea rows="5" cols="10" class="form-control" [(ngModel)]="comment" required="" title="Содержание"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!comment" (click)="save()">Сохранить
    </button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
