<div *ngIf="!loading">
  <div class="pull-right" style="margin-top:-10px;">
    <a (click)="editCard()" class="btn btn-white">
      <i class="fa fa-pencil m-r-xs"></i>
      Редактировать
    </a>
  </div>
  <h4 class="m-b-md">Показатели</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="25%">Показатель</th>
        <th width="25%">Действующие</th>
        <th width="25%">Предлагаемые</th>
        <th width="25%">Рекомендуемые</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Основные виды разрешенного использования</td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let current of question.questionConsider.parameters.mainVRI.current">
              <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
            </li>
          </ul>
        </td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let newP of question.questionConsider.parameters.mainVRI.new">
              <span class="white-space__pre">{{newP.name}} [{{newP.code}}]</span>
            </li>
          </ul>
        </td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let recommended of question.questionConsider.parameters.mainVRI.recommended">
              <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Условно разрешенные виды использования</td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let current of question.questionConsider.parameters.relativelyVRI.current">
              <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
            </li>
          </ul>
        </td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let new of question.questionConsider.parameters.relativelyVRI.new">
              <span class="white-space__pre">{{new.name}} [{{new.code}}]</span>
            </li>
          </ul>
        </td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let recommended of question.questionConsider.parameters.relativelyVRI.recommended">
              <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Вспомогательные виды</td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let current of question.questionConsider.parameters.subVRI.current">
              <span class="white-space__pre">{{current.name}} [{{current.code}}]</span>
            </li>
          </ul>
          {{question.questionConsider.parameters.subVRI.currentComment}}
        </td>
        <td>
          <ul style="padding-left: 16px;">
            <li *ngFor="let new of question.questionConsider.parameters.subVRI.new">
              <span class="white-space__pre">{{new.name}} [{{new.code}}]</span>
            </li>
          </ul>
          {{question.questionConsider.parameters.subVRI.newComment}}
        </td>
        <td>
          <ul style="padding-left: 16px;"
              *ngIf="question.questionConsider.parameters && question.questionConsider.parameters.subVRI && question.questionConsider.parameters.subVRI.recommended"
          >
            <li *ngFor="let recommended of question.questionConsider.parameters.subVRI.recommended">
              <span class="white-space__pre">{{recommended.name}} [{{recommended.code}}]</span>
            </li>
          </ul>
          <span>
                    {{question.questionConsider.parameters.subVRI.recommendedComment}}
                </span>
        </td>
      </tr>
      <tr *ngFor="let tep of question.questionConsider.parameters.tep">
        <td>{{tep.tepName.name}}</td>
        <td class="white-space__pre">{{tep.currentValue}}</td>
        <td class="white-space__pre">{{tep.newValue}}</td>
        <td class="white-space__pre">{{tep.recommendedValue}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
