<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right m-t-md">
        <button class="btn btn-sm btn-violet"
                (click)="createInstruction()"
                *ngIf="question.questionID && !editingCard && availableToAddInstruction && !regularExternal"
                title="Создать поручение">
          <i class="fa fa-file"></i> Дать поручение
        </button>
        <button *ngIf="question.questionConsider.questionStatus && availableToCopy && !regularExternal"
                class="btn btn-sm btn-muted" title="Создать копию" (click)="copy()">
          <i class="fa fa-copy"></i> Скопировать
        </button>
        <button class="btn btn-sm btn-default"
                *ngIf="!editingCard && question.meetingType === 'SS MKA'"
                (click)="previewExcerpt()" meetingMyAuth="MEETING_QUESTION_PRINT_BUTTON">Сформировать выписку
        </button>
      </div>
      <div class="m-b-xs">

        <h2 class="m-t-md">
          <small>{{question.meetingFullName}}</small>
        </h2>

        <h2 class="m-t-sm semibold" *ngIf="question.planningMeeting">
          <meeting-question-address [question]="question"></meeting-question-address>
          <span *ngIf="question.questionConsider.cadastralNumber">
			      Кад. № {{question.questionConsider.cadastralNumber}}
		      </span>
        </h2>

        <h4 *ngIf="question.planningMeeting">
          {{question.questionConsider.question}}
        </h4>

        <h2 class="semibold" *ngIf="!question.planningMeeting">
          {{question.questionConsider.question}}
        </h2>

        <span *ngIf="!question.questionConsider.meetingDate"> Планируемая дата рассмотрения {{question.questionConsider.planDate | date:"dd.MM.yyyy"}} </span>
        <span *ngIf="question.questionConsider.meetingDate">
        <span>{{question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</span>
        <span *ngIf="protocol && canViewProtocol">
          № <a uiSref="app.meeting.protocol" [uiParams]="{ id: protocol.protocolID}">{{question.questionConsider.meetingNumber}}</a>
        </span>
        <span *ngIf="!protocol || !canViewProtocol">№ {{question.questionConsider.meetingNumber}}</span>
        <span>п. {{question.questionConsider.itemNumber}}</span>
      </span>

        <div class="m-t m-b">
        <span class="label label-success m-r-sm"
              *ngIf="question.questionConsider.questionStatus">Вопрос рассмотрен</span>
          <span class="label label-default m-r-sm" *ngIf="!question.questionConsider.questionStatus">Вопрос планируется к рассмотрению</span>
          <meetings-question-decision [decision]="question.questionConsider.decisionType"
                                      [decisionCode]="question.questionConsider.decisionTypeCode" class="semibold"
                                      [small]="true"></meetings-question-decision>
        </div>

      </div>
      <div class="row">
        <div class="panel blank-panel">

          <tabset>
            <tab heading="Карточка">
              <div class="panel-body">
                <div *ngIf="!editingCard">
                  <meeting-question-view [question]="question" [questionHistory]="questionHistory" [protocol]="protocol" (edit)="editCard($event)"></meeting-question-view>
                </div>
                <div *ngIf="editingCard">
                  <meeting-question-edit [question]="question" (saveQuestion)="saveQuestion()"
                                         (cancel)="cancelEditCard()"></meeting-question-edit>
                </div>
              </div>
            </tab>
            <tab heading="История рассмотрений">
              <div class="panel-body">
                <h4 class="m-b-md">История рассмотрений</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th width="90">Дата</th>
                      <th width="150">Заседание</th>
                      <th>Решение</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let question of questionHistory">
                      <td>{{question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</td>
                      <td>
                        <span *ngIf="!question.questionConsider.meetingNumber">
                          <a uiSref="app.meeting.question" [uiParams]="{ id: question.questionID}">{{question.meetingShortName}}</a>
                        </span>
                        <span *ngIf="question.questionConsider.meetingNumber">{{question.meetingShortName}}</span>
                        <span *ngIf="question.questionConsider.meetingNumber">
                          <span>№</span><a uiSref="app.meeting.question" [uiParams]="{ id: question.questionID}">{{question.questionConsider.meetingNumber}}</a>
                        </span>
                        <span
                          *ngIf="question.questionConsider.itemNumber">п.{{question.questionConsider.itemNumber}}</span>
                      </td>
                      <td>
                        <div class="semibold m-b-xs">{{question.questionConsider.decisionType}}</div>
                        <div [innerHTML]="question.questionConsider.decisionText"></div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
            <tab heading="Комментарии">
              <div class="panel-body">
                <div class="pull-right">
                  <button class="btn btn-sm btn-primary" [disabled]="!question.questionID"
                          (click)="showAddCommentDialog()"
                          meetingMyAuth="MEETING_QUESTION_COMMENT_ADD_BUTTON"
                          *ngIf="!question.questionConsider.meetingDate && !regularExternal"><i class="fa fa-plus m-r-xs"></i>Добавить
                    комментарий
                  </button>
                </div>

                <h4 class="m-b-md">Комментарии</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Дата</th>
                      <th>Организация</th>
                      <th>Автор</th>
                      <th width="50%">Комментарий</th>
                      <th *ngIf="hasEditCommentPermission"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let comment of question.comments; let i = index">
                      <td>
                        {{comment.date | date: "dd.MM.yyyy"}}
                      </td>
                      <td>
                        {{getCommentOrganization(comment)}}
                      </td>
                      <td>{{comment.author.fioFull}}</td>
                      <td>
                        <div style="white-space: pre">{{comment.comment}}</div>
                      </td>
                      <td *ngIf="hasEditCommentPermission">
                        <button class="btn btn-sm btn-default" (click)="showEditCommentDialog(i)"
                                *ngIf="!question.questionConsider.meetingDate && comment.author.accountName === accountName">
                          <i class="fa fa-pencil"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
            <tab heading="Показатели" *ngIf="showIndicatorsTab">
              <div class="panel-body">
                <div *ngIf="!editingIndicators">
                  <meeting-question-indicators-view [question]="question"
                                                    (edit)="editIndicators($event)"></meeting-question-indicators-view>
                </div>
                <div *ngIf="editingIndicators">
                  <meeting-question-indicators-edit [question]="question" (saveQuestion)="saveQuestion()"
                                                    (cancelEdit)="cancelEditIndicators()"></meeting-question-indicators-edit>
                </div>
              </div>
            </tab>
            <tab heading="РГ ГЗК"
                 *ngIf="(question.questionConsider.decisionTypeCode === 'TO-RGGZK' || question.questionConsider.decisionTypeCode === 'TO-RGGZK2') && question.questionRG">
              <div class="panel-body">
                <meeting-question-view-rg [questionRG]="question.questionRG"></meeting-question-view-rg>
              </div>
            </tab>

            <tab heading="Поручения">
              <div class="panel-body">
                <meeting-question-instructions [question]="question"></meeting-question-instructions>
              </div>
            </tab>
            <tab heading="Внешние согласующие">
              <div class="panel-body">
                <meeting-question-external-agree [question]="question"></meeting-question-external-agree>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
