<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div class="table-responsive" *ngIf="!loading">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 50px"></th>
          <th style="width: 600px">Организация</th>
          <th style="width: 400px">Представитель</th>
          <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let externalAgree of question.questionConsider.externalAgree">
          <td class="h2 center"><span [class]="pzzExternalAgree[externalAgree.organizationCode].icon"></span>
          </td>
          <td>{{externalAgree.organization}}</td>
          <td>{{comments[externalAgree.organizationCode]?.author.fioFull}}</td>
          <td>
            <div>{{comments[externalAgree.organizationCode]?.comment}}</div>
            <div class="text-muted">{{comments[externalAgree.organizationCode]?.date | date: "dd.MM.yyyy"}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при получении списка
        внешних согласующих</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
