<!-- <h4 class="">Проект приказа</h4> -->

<div *ngIf="protocol.fileProtocolDraft">
  <cdp-ex-file [fileInfo]="protocol.fileProtocolDraft"
               [showSize]="true"
               [checkSign]="true"
               [showDate]="true" [downloadBaseHref]="'/filestore'"
  ></cdp-ex-file>
</div>
<mggt-approval-list *ngIf="protocol.approval && protocol.approval.approvalCycle" [list]="protocol.approval.approvalCycle"></mggt-approval-list>


<div *ngIf="protocol.approvalHistory && protocol.approvalHistory.approvalCycle.length > 0">
  <div *ngFor="let approval of protocol.approvalHistory.approvalCycle">
    <h4 style="outline: none" (click)="cycleShow[approval.approvalCycleNum] = !cycleShow[approval.approvalCycleNum]"
        class="m-t-md" role="button">
      <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="!cycleShow[approval.approvalCycleNum]"></i>
      <i style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="cycleShow[approval.approvalCycleNum]"></i>
      Предыдущий цикл согласования {{ approval.approvalCycleNum }} от {{approval.approvalCycleDate | date:'dd.MM.yyyy'}}
    </h4>
    <div *ngIf="cycleShow[approval.approvalCycleNum]" style="margin-left:20px;">
      <div *ngIf="approval.approvalCycleFile">
        <div *ngFor="let approvalFile of approval.approvalCycleFile">
          <cdp-ex-file [fileInfo]="{nameFile: approvalFile.nameFile,
                                    idFile:   approvalFile.idFile,
								  		              sizeFile: approvalFile.sizeFile,
								  		              dateFile: approvalFile.dateFile,
								  		              signed:   approvalFile.signed}"
                       [showSize]="true"
                       [checkSign]="true"
                       [showDate]="true" [downloadBaseHref]="'/filestore'"
          ></cdp-ex-file>
        </div>
      </div>

      <mggt-approval-list [list]="approval"></mggt-approval-list>

    </div>
  </div>
</div>
