<ng-container *ngFor="let item of list; let i = index">
    <tr style="cursor: pointer;" (click)="toggle()">
        <td style="width: 5%;" class="center"><span *ngIf="level > 0">{{level}}.</span>{{i + 1}}</td>
        <td style="width: 27%;">
            <div class="semibold">{{item.agreedBy.fioFull}}</div>
            <div>{{item.agreedBy.post}}</div>
        </td>
        <td style="width: 17%;" class="center">
            {{item.approvalType}}
        </td>
        <!-- <td style="width: 15%;" class="center">
            {{item.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}
        </td> -->
        <td style="width: 14%;" class="center">
            <span *ngIf="!item.approvalResult" class="label label-default">Ожидание</span>
            <span *ngIf="item.approvalResult"
                class="label {{getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
            <div *ngIf="item.approvalFactDate"><label>{{item.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></div>
        </td>
        <td>

            <div *ngIf="item.added" class="m-b-sm">
                <div class="semibold">Добавление согласующего</div>
                <div *ngFor="let addedItem of item.added">
                    <span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span> {{addedItem.addedNote}}
                </div>
            </div>

            <div
                *ngIf="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
                <div class="semibold">{{item.approvalResult}}</div>
                <div>{{item.approvalNote}}</div>
            </div>

            <div
                *ngIf="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
                <div class="semibold">На доработку</div>
                <div>{{item.approvalNote}}</div>
            </div>

            <div *ngFor="let file of item.fileApproval" class="m-t-xs">
                <a href="{{getFileLink(file.idFile)}}" class="text-default" title="{{file.nameFile}}">
                    <cdp-ex-file [fileInfo]="file"
                        [showSize]="true"
                        [checkSign]="true"
                        [showDate]="true" [downloadBaseHref]="'/filestore'"
                    ></cdp-ex-file>
                </a>
            </div>
        </td>
    </tr>
    <tr *ngIf="item.items && item.items.length > 0 && isShowAdditionalApprovals">
        <td colspan="6" style="margin: 0; padding: 0;">
            <table style="margin: 0; padding: 0;" class="table table-bordered">
                <tbody mggt-approval-list-row [list]="item.items" [level]="level+1" [withAdditional]="withAdditional"
                    [approvalTypes]="approvalTypes"></tbody>
            </table>
        </td>
    </tr>
</ng-container>