<div >
  <table class="table m-b-none" style="border-bottom:1px solid;">
    <ng-template ngFor let-searchSection [ngForOf]="getVisibleSearchSections()">
      <tr>
        <td class="nowrap" width="30">
          <h4 style="font-weight: normal" class="m-b-xs">
            {{searchSection.count}}
          </h4>
        </td>
        <td colspan="2">
          <h4 (click)="searchSection.expanded = !searchSection.expanded; triggerSection(searchSection)" class="m-b-xs">
            <span *ngIf="searchSection.meetingDate">{{searchSection.meetingDate | date: 'dd.MM.yyyy'}}</span>
            <span *ngIf="!searchSection.meetingDate">[Дата не определена]</span>
            <span> Заседание</span>
            <span> {{searchSection.meetingType.meetingShortName}}</span>
            <span *ngIf="searchSection.meetingNumber"> № {{searchSection.meetingNumber}}</span>
          </h4>
        </td>
      </tr>
      <tr [hidden]="!(searchSection.expanded && searchSection.loading)">
        <td colspan="3">
          <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
        </td>
      </tr>
      <ng-template ngFor let-searchSubsection [ngForOf]="searchSection.subsections">
        <tr [hidden]="!(searchSection.expanded && !searchSection.loading)">
          <td></td>
          <td colspan="2">
            <h4
              (click)="searchSubsection.expanded = !searchSubsection.expanded; triggerSubsection(searchSection, searchSubsection)"
              class="m-b-xs">
            <span style="width:30px;display:inline-block;">
               {{searchSubsection.count}}
            </span>
              {{searchSubsection.decisionText ? searchSubsection.decisionText : '[Решение не определено]'}}
            </h4>
          </td>
        </tr>
        <tr [hidden]="!(searchSection.expanded && searchSubsection.expanded)"
            *ngFor="let doc of searchSubsection.docs; let last = last">
          <td></td>
          <td colspan="2">
            <div class="m-t-lg m-b-lg m-l-md" style="margin-left:34px">
              <meeting-question-list-view-card [doc]="doc" [hideLine]="last" [showStatus]="false"></meeting-question-list-view-card>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" [hidden]="!(searchSection.expanded && searchSubsection.expanded && !searchSubsection.loading && searchSubsection.hasMoreDocs)">
            <button type="button" class="btn btn-default btn-block"
                    (click)="showMoreDocs(searchSection, searchSubsection)">
              Показать еще
            </button>
          </td>
        </tr>
        <tr [hidden]="!(searchSection.expanded && searchSubsection.expanded && searchSubsection.loading)">
          <td colspan="3">
            <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
          </td>
        </tr>
      </ng-template>
    </ng-template>
  </table>
</div>
