<div class="search-result">
  <h3>
    <a uiSref="app.meeting.question" target="_blank" [uiParams]="{id: doc.documentId}">
      <span *ngIf="doc.address">{{doc.address}}</span>
      <span *ngIf="!doc.address">{{doc.question}}</span>
      <span *ngIf="doc.prefect || doc.district">(</span>
      <span *ngIf="doc.prefect">{{doc.prefect.join(',')}}</span>
      <span *ngIf="doc.district">, {{doc.district.join(',')}}</span>
      <span *ngIf="doc.prefect || doc.district">)</span>
    </a>
  </h3>

  <div class="m-b-sm m-t-sm" *ngIf="showStatus">
        <span [ngClass]="doc.questionStatus === 'true' ? 'label-success' : ''" class="label">
           <span *ngIf="doc.questionStatus === 'true'">Вопрос рассмотрен</span>
           <span *ngIf="doc.questionStatus !== 'true'">Планируется к рассмотрению</span>
        </span>
    <span class="m-l-sm" style="margin-top:2px;">
         {{doc.meetingDate | date: 'dd.MM.yyyy'}} {{doc.meetingShortName}} {{doc.meetingNumber ? '№' + doc.meetingNumber : '' }} {{doc.itemNumber ? 'пункт ' + doc.itemNumber : ''}}
        </span>
  </div>
  <h4 *ngIf="doc.cadastralNumbers" style="color:#676a6c">{{doc.cadastralNumber.join(',')}}</h4>
  <h4 style="color:#676a6c">{{doc.gpzuNumber}}</h4>
  <div class="m-b-sm" *ngIf="doc.address">
    {{doc.questionSS}}
  </div>
  <div class="m-b-sm" *ngIf="doc.customer">
    Заявитель &mdash; {{ doc.customer }}
  </div>
  <div class="m-b-sm" *ngIf="doc.rightHolder">
    Правообладатель &mdash; {{ doc.rightHolder }}
  </div>
  <div class="m-b-sm" *ngIf="doc.contractorPrepareFioFull">
    Ответственный исполнитель &mdash; {{ doc.contractorPrepareFioFull }}
  </div>
  <div *ngIf="doc.decisionText">
    Категория решения &mdash; {{ doc.decisionText }}
  </div>
</div>
<div class="hr-line-dashed" *ngIf="!hideLine"></div>
