<div *ngIf="!loading">

  <div class="hr-line-dashed"></div>
  <div *ngFor="let doc of searchResult.docs; let last = last;">
    <meeting-question-list-view-card [doc]="doc" [hideLine]="last" [showStatus]="true"></meeting-question-list-view-card>
  </div>
</div>
