<div style="min-height: 300px">
  <div class="clearfix m-b-xs">

    <div class="pull-left" *ngIf="isListView()">
      <p class="m-t-md">Найдено —
        <b>{{searchResult.numFound}}</b>
      </p>
    </div>

    <div class="pull-right m-t">

      <meeting-question-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting"
                                     (sortingChanged)="sortingChange($event)">
      </meeting-question-list-sorting>

      <!--<div class="btn-group" *ngIf="searchResult.numFound > 0" btnRadioGroup [(ngModel)]="view">
        <label class="btn btn-sm btn-white" btnRadio="list" tabindex="0" role="button" title="Списком">
          <i class="fa fa-th-list"></i>
        </label>
        <label class="btn btn-sm btn-white" btnRadio="indent" tabindex="1" role="button"
               title="Сгруппировать по заседаниям">
          <i class="fa fa-indent"></i>
        </label>
      </div>-->

      <div class="btn-group">
        <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
          <i class="fa fa-filter"></i> Расширенный поиск
        </button>
      </div>

    </div>

  </div>

  <div class="animated fadeIn" [collapse]="extSearchCollapsed">
    <meeting-question-list-filters [filter]="filter"
                                   (filterChanged)="filterChange($event)"
                                   [isExternal]="isExternal"
    ></meeting-question-list-filters>
  </div>

  <div *ngIf="isListView()">

    <meeting-question-list-view-plain [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                      [filter]="filter" [isExternal]="isExternal" [sorting]="sorting" [common]="common"
                                      [(loading)]="isLoading"></meeting-question-list-view-plain>
    <div>
      <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                  [firstText]="'1'" [lastText]="searchResult.numFound"
                  [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                  [rotate]="true" (ngModelChange)="changePage()"
                  [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                  [maxSize]="3"
                  *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
    </div>
  </div>

  <div *ngIf="isIndentView()">
    <meeting-question-list-view-groupped [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                         [filter]="filter" [isExternal]="isExternal" [sorting]="sorting" [common]="common"
                                         [(loading)]="isLoading"></meeting-question-list-view-groupped>
  </div>

  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
</div>
