<form method="get" class="form-horizontal">
  <div class="container-fluid searchFilter">
    <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>

    <!-- MGGT-140 -->
    <!-- <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Адрес</div>
      <div class="col-md-9">
        <input name="address" class="form-control" [(ngModel)]="filter.address">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Округ</div>
      <div class="col-md-9">

        <ng-select name="prefects"
                   [items]="prefects"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="filter.prefects">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Кадастровый номер</div>
      <div class="col-md-9">
        <input name="cadastralNumbers" class="form-control" [(ngModel)]="filter.cadastralNumbers">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Номер документа основания</div>
      <div class="col-md-9">
        <input name="basisNumber" class="form-control" [(ngModel)]="filter.basisNumber">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Номер ГПЗУ</div>
      <div class="col-md-9">
        <input name="gpzuNumber" class="form-control" [(ngModel)]="filter.gpzuNumber">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Заявитель</div>
      <div class="col-md-9">
        <input name="applicantName" class="form-control" [(ngModel)]="filter.applicantName">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Правообладатель</div>
      <div class="col-md-9">
        <input name="rightHolder" class="form-control" [(ngModel)]="filter.rightHolder">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Ответственное управление</div>
      <div class="col-md-9">
        <ng-select name="responsibleDepartments"
                   [items]="responsibleDepartments"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="departmentPrepareFull"
                   [(ngModel)]="filter.responsibleDepartments">
        </ng-select>
      </div>
    </div> -->

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Ответственный за подготовку вопроса</div>
      <div class="col-md-9" *ngIf="!isExternal">
        <ng-select name="responsibleContractor"
                   [items]="responsibleContractors"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="displayName"
                   [(ngModel)]="filter.responsibleContractor">
        </ng-select>
      </div>
      <div class="col-md-9" *ngIf="isExternal">
        <input type="text"
               name="responsibleContractor"
               [(ngModel)]="filter.responsibleContractor"
               class="form-control"
        />
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Категория вопроса</div>
      <div class="col-md-9">
        <ng-select name="questionCategory"
                   [items]="questionCategories"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="questionCategory"
                   [(ngModel)]="filter.questionCategory">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Вопрос рассмотрен</div>
      <div class="col-md-9">
        <label class="m-r-sm">
          <input cdp-icheck type="radio" value="true" [(ngModel)]="filter.questionStatus" name="questionStatus">
          <i></i> Да
        </label>
        <label class="m-r-sm">
          <input cdp-icheck type="radio" value="false" [(ngModel)]="filter.questionStatus" name="questionStatus">
          <i></i> Нет
        </label>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Дата заседания</div>
      <div class="col-md-9">
        <cdp-date-range-select
          [(dateFrom)]="filter.meetingDate.from"
          [(dateTo)]="filter.meetingDate.to"
        ></cdp-date-range-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Решение</div>
      <div class="col-md-9">

        <ng-select name="decision"
                   [items]="decisionList"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="decisionType"
                   [(ngModel)]="filter.decision">
        </ng-select>
      </div>
    </div>

    <hr>

    <div class="row m-b-sm  m-l-sm">
      <div class="col-md-3 title">
      </div>
      <div class="col-md-9">
        <button type="button" (click)="search()" class="btn btn-primary btn-search">Найти</button>
        <button type="button" (click)="clear()" class="btn btn-default btn-search">Очистить</button>
      </div>
    </div>

  </div>
</form>
