<span class="text-info" *ngIf="decisionCode == 'DOR-GZK' || decisionCode == 'TO-RGGZK' || decisionCode == 'TO-RGGZK2'">
	<small *ngIf="small"><i class="fa fa-arrow-up"></i>&nbsp;{{decision}}</small>
	<span *ngIf="!small"><i class="fa fa-arrow-up"></i>&nbsp;{{decision}}</span>
</span>
<span class="text-success" *ngIf="decisionCode == 'OFORM' || decisionCode == 'DONE'">
	<small *ngIf="small"><i class="fa fa-check"></i>&nbsp;{{decision}}</small>
	<span *ngIf="!small"><i class="fa fa-check"></i>&nbsp;{{decision}}</span>
</span>
<span class="text-default"
      *ngIf="decisionCode == 'PERENOS' || decisionCode == 'SNYAT' || decisionCode == 'ACTIVE' || decisionCode == 'NOSEEN'">
	<small *ngIf="small"><i class="fa fa-repeat"></i>&nbsp;{{decision}}</small>
	<span *ngIf="!small"><i class="fa fa-repeat"></i>&nbsp;{{decision}}</span>
</span>
