<table cellspacing="10" class="table-condensed" style="width:100%;table-layout:fixed;">
  <tr class="p-b-sm" valign="top" *ngFor="let instruction of instructions">
    <td width="100px" class="m-r-sm">
      <span class="label label-primary">{{instruction.statusName}}</span>
      <span class="label label-{{this.statusColorMap[instruction.condition]}}">{{instruction.condition}}</span>
    </td>
    <td width="80px">
      <a href="/sdo/instruction/#/app/instruction/instruction/card/{{instruction.documentId}}">
        <div>{{formatDate(instruction.beginDate)}}</div>
        <div class="small">{{instruction.instructionNumber}}</div>
      </a>
    </td>
    <td style="overflow-wrap: break-word;">
      {{instruction.content}}
    </td>
    <td>
      {{instruction.executorFioFull}}
    </td>
    <td class="text-right" width="80px">
      <!--
      <div [class]="isOutdated(instruction) ? 'text-danger semibold': ''">{{formatDateTime(instruction.planDate)}}</div>
      -->
      <div *ngIf="outDated(instruction.planDate)" class="text-danger small">Просрочено</div>
      <div *ngIf="!outDated(instruction.planDate)" >{{formatDateTime(instruction.planDate)}}</div>
    </td>
  </tr>
</table>



