<div class="btn-group" dropdown>
  <button type="button" id="sorting-button" class="btn btn-sm btn-white" (click)="changeValue()"><i
    class="fa fa-sort-amount-{{sorting.value}}"></i> {{sorting.text}}
  </button>
  <button id="button-sorting" type="button" class="btn btn-sm btn-white dropdown-toggle" dropdownToggle
          aria-controls="dropdown-sorting"><span class="caret"></span></button>
  <ul id="dropdown-sorting" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-sorting">
    <li role="menuitem"><a (click)="change('meetingDate', 'desc', 'По дате рассмотрения')">По дате рассмотрения (по убыванию)</a></li>
    <li role="menuitem"><a (click)="change('meetingDate', 'asc', 'По дате рассмотрения')">По дате рассмотрения (по возрастанию)</a></li>
  </ul>
</div>
