<div style="min-height: 300px">
  <div class="clearfix m-b-xs">

    <div class="pull-left">
      <p class="m-t-md">Найдено —
        <b>{{searchResult.numFound}}</b>
      </p>
    </div>

    <div class="pull-right m-t">

      <meeting-agenda-projects-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting" (sortingChanged)="sortingChange($event)">
      </meeting-agenda-projects-list-sorting>

    </div>

  </div>

  <div *ngIf="!isLoading">

    <div class="hr-line-dashed"></div>

    <table class="table table-bordered" style="font-size:14px;color: #676a6c;table-layout: fixed;min-width: 730px;">

      <thead>
        <tr style="border-top:1px solid #f0f0f0;font-weight:600;">
          <th style="font-weight: 600;width: 100px;" data-info="meetingHeld" class="text-center">
            Статус
          </th>
          <th style="font-weight: 600;width: 90px;" data-info="meetingDate" class="text-center">
            Дата
          </th>
          <th style="font-weight: 600;" data-info="meetingShortName, meetingNumber" class="text-center">
            Заседание
          </th>
          <th style="font-weight: 600;width:120px;" data-info="meetingTime" class="text-center">
            Время начала
          </th>
          <th style="font-weight: 600;width:90px;" data-info="numberQuestions" class="text-center">
            Вопросов
          </th>
          <th style="font-weight: 600;" data-info="itemNumberQuestionAdd, itemNumberQuestionDel" class="text-center">
            Изменения повестки
          </th>
          <th style="font-weight: 600;width:140px;" data-info="dateChangeQuestionAdd, dateChangeQuestionDel" class="text-center">
            Дата изменения
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let d of searchResult.docs">
          <td class="text-center meeting-agenda__status-cell">
            <span class="label label-primary" *ngIf="d.meetingHeld === 'false'">Планируется</span>
            <span class="label label-success" *ngIf="d.meetingHeld === 'true'">Проведено</span>
          </td>
          <td class="text-center">
            {{d.meetingDate | date: "dd.MM.yyyy"}}
          </td>
          <td>
            <a uiSref="app.meeting.agenda" [uiParams]="{id: d.documentId}" target="_blank">Заседание {{d.meetingShortName + (d.meetingNumber ? ' № ' + d.meetingNumber : '')}}</a>
          </td>
          <td class="text-center">
            <span *ngIf="d.meetingTime">
              {{d.meetingTime.slice(0, -3)}}
            </span>
          </td>
          <td class="text-center">
            {{d.numberQuestions}}
          </td>
          <td>
            <div *ngIf="d.itemNumbersQuestionAdd && d.itemNumbersQuestionAdd.length">
              Добавлены вопросы: {{d.itemNumbersQuestionAdd.join(', ')}}
            </div>
            <div *ngIf="d.itemNumbersQuestionExcl && d.itemNumbersQuestionExcl.length">
              Исключены вопросы: {{d.itemNumbersQuestionExcl.join(', ')}}
            </div>
          </td>
          <td>
            <div>
              {{ getLastChangeDate(d.dateChangeQuestionAdd, d.dateChangeQuestionExcl) }}
            </div>
          </td>
        </tr>
      </tbody>

    </table>


    <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage" [firstText]="'1'" [lastText]="searchResult.numFound"
      [previousText]="'Предыдущая'" [nextText]="'Следующая'" [rotate]="true" (ngModelChange)="changePage()" [itemsPerPage]="10"
      class="m-b-xs" [boundaryLinks]="true" [maxSize]="3" *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>

  </div>
  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
</div>
