<form method="get" class="form-horizontal">
  <div class="container-fluid searchFilter">
    <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Статус</div>
      <div class="col-md-9">
        <ng-select name="status" [items]="meetingHeld" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
          bindLabel="meetingHeldName" bindValue="meetingHeld" [(ngModel)]="filter.meetingHeld">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Дата повестки</div>
      <div class="col-md-9">
        <cdp-date-range-select 
          [(dateFrom)]="filter.meetingDate.from"
          [(dateTo)]="filter.meetingDate.to"
        ></cdp-date-range-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Вид заседания</div>
      <div class="col-md-9">
        <ng-select name="meetingTypes" [items]="meetingTypes" [multiple]="true" [closeOnSelect]="true"
          [hideSelected]="true" bindLabel="meetingFullName" bindValue="meetingType" [(ngModel)]="filter.meetingTypes">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Номер заседания</div>
      <div class="col-md-9">
        <input class="form-control" [(ngModel)]="filter.meetingNumber" name="meetingNumber">
      </div>
    </div>

    <hr>

    <div class="row m-b-sm  m-l-sm">
      <div class="col-md-3 title">
      </div>
      <div class="col-md-9">
        <button type="button" (click)="search()" class="btn btn-primary btn-search">Найти</button>
        <button type="button" (click)="clear()" class="btn btn-default btn-search">Очистить</button>
      </div>
    </div>

  </div>
</form>