<div style="min-height: 300px">
  <div class="clearfix m-b-xs">

    <div class="pull-left">
      <p class="m-t-md">Найдено —
        <b>{{searchResult.numFound}}</b>
      </p>
    </div>

    <div class="pull-right m-t">

      <meeting-question-presentation-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting"
                                                  (sortingChanged)="sortingChange($event)">
      </meeting-question-presentation-list-sorting>

      <div class="btn-group">
        <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
          <i class="fa fa-filter"></i> Расширенный поиск
        </button>
      </div>

    </div>

  </div>

  <div class="animated fadeIn" [collapse]="extSearchCollapsed">
    <meeting-question-list-filters [filter]="filter" (filterChanged)="filterChange($event)">
    </meeting-question-list-filters>
  </div>

  <div *ngIf="!isLoading">

    <div class="hr-line-dashed"></div>
    <div style="overflow-x: auto">
      <table class="table table-bordered" style="font-size:13px;color:#676a6c;table-layout:fixed; min-width: 940px;">
        <thead>
        <tr style="border-top:1px solid #f0f0f0;font-weight:600;">
          <th style="width:110px;" data-info="">
            Проверено
          </th>
          <th style="font-weight: 600; min-width: 160px;" data-info="">
            Вопрос
          </th>
          <th style="font-weight: 600; min-width: 130px;" data-info="applicantName, rightHolder">
            Заявитель и правообладатель
          </th>
          <th style="font-weight: 600; min-width: 160px;"
              data-info="speakerFioFull, cospeakerFioFull">
            Докладчик и содокладчики
          </th>
          <th style="font-weight: 600; min-width: 170px;" data-info="filesIDPresentation, fileNamePresentation">
            Презентация
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-template ngFor let-searchSection [ngForOf]="getVisibleSearchSections()">
          <tr>
            <td colspan="5">
              <h4 (click)="searchSection.expanded = !searchSection.expanded; triggerSection(searchSection)">
                <span class="m-r-sm">{{searchSection.count}}</span>
                <i class="fa m-r-sm fa-caret-right"></i>
                <span
                  *ngIf="searchSection.presentPrepareFioFull">{{searchSection.presentPrepareFioFull}}</span>
                <span *ngIf="!searchSection.presentPrepareFioFull">[Ответственный за подготовку презентации не определен]</span>
              </h4>
            </td>
          </tr>
          <tr [hidden]="!(searchSection.expanded && searchSection.loading)">
            <td colspan="5">
              <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
            </td>
          </tr>
          <ng-template ngFor let-searchSubsection [ngForOf]="searchSection.subsections">
            <tr [hidden]="!(searchSection.expanded && !searchSection.loading)">
              <td colspan="5">
                <h4 style="margin-left:30px;"
                    (click)="searchSubsection.expanded = !searchSubsection.expanded; triggerSubsection(searchSection, searchSubsection)">
                  <span class="m-r-sm">{{searchSubsection.count}}</span>
                  <i class="fa m-r-sm fa-caret-right"></i>
                  <span *ngIf="searchSubsection.planDate"> {{searchSubsection.planDate | date: 'dd.MM.yyyy'}}</span>
                  <span *ngIf="!searchSubsection.planDate"> [Дата не определена]</span>
                  <span> {{searchSubsection.meetingType.meetingShortName}}</span>
                </h4>
              </td>
            </tr>
            <tr [hidden]="!(searchSection.expanded && searchSubsection.expanded && searchSubsection.loading)">
              <td colspan="5">
                <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
              </td>
            </tr>
            <tr [hidden]="!(searchSection.expanded && searchSubsection.expanded && !searchSubsection.loading)"
                *ngFor="let doc of searchSubsection.docs">
              <td class="text-center text-success">
                <i *ngIf="doc.materialsChecked === 'true'" class="fa fa-check"></i>
              </td>
              <td>
                <h4 class="m-t-none">
                  <a uiSref="app.meeting.question" [uiParams]="{id: doc.documentId}" class="font-bold" target="_blank">
                    <span *ngIf="doc.address">{{doc.address}}</span>
                    <span *ngIf="!doc.address">{{doc.question}}</span>
                    <span>{{getPrefectsDistrictsString(doc.prefectNames, doc.districtNames)}}</span>
                  </a>
                </h4>
                <h4 *ngIf="doc.cadastralNumbers">
                  {{doc.cadastralNumber.join(', ')}}
                </h4>
                <div *ngIf="doc.question" class="semibold m-b-xs">
                  {{doc.question}}
                </div>
                <div *ngIf="doc.contractorPrepareFioFull">
                  Ответственный исполнитель &mdash; {{doc.contractorPrepareFioFull}}
                </div>
                <div *ngIf="doc.presentPrepareFioFull">
                  Ответственный за подготовку презентации &mdash; {{doc.presentPrepareFioFull}}
                </div>
              </td>
              <td>
                <div *ngIf="doc.applicantName">
                  {{doc.applicantName}}
                </div>
                <div *ngIf="doc.rightHolder">
                  {{doc.rightHolder}}
                </div>
              </td>
              <td>
                <div *ngIf="doc.speakerFioFull">
                  {{doc.speakerFioFull}}
                </div>
                <div *ngIf="doc.cospeakerFioFull">
                  {{doc.cospeakerFioFull}}
                </div>
              </td>
              <td>
                <div *ngIf="doc.fileIDPresentation">
                  <a [href]="getFileLink(doc.fileIDPresentation)"
                     class="text-default"
                     title="{{doc.fileNamePresentation}}"
                  >
                    <span meetingFileIcon="doc.fileNamePresentation"></span>
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div>
      <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                  [firstText]="'1'" [lastText]="searchResult.numFound"
                  [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                  [rotate]="true" (ngModelChange)="changePage()"
                  [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                  [maxSize]="3"
                  *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
    </div>
  </div>

  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
</div>
