<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Перенести совещание</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата совещания<span
          class="our-mandatory">*</span></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <cdp-date-selector [(model)]="agenda.meetingDate"
                             [required]="true"
                             [minDate]="minDate"
                             (modelChange)="updateIntersectionsWarnings()"
          ></cdp-date-selector>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время начала<span
          class="our-mandatory">*</span></label>
        <div class="col-lg-8 col-md-9 col-sm-3">
          <div class="input-group " clock-picker data-autoclose="true">
            <timepicker [(ngModel)]="agenda.meetingTime" name="meetingTime" [showMeridian]="false" [mousewheel]="false"
                        [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'"
                        (ngModelChange)="showMeetingTimeEndError(); updateIntersectionsWarnings()"></timepicker>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время окончания<span
          class="our-mandatory">*</span></label>
        <div class="col-lg-8 col-md-9 col-sm-3">
          <div class="input-group " clock-picker data-autoclose="true">
            <timepicker [(ngModel)]="agenda.meetingTimeEnd" name="meetingTimeEnd" [showMeridian]="false" [mousewheel]="false"
                        [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'"
                        (ngModelChange)="showMeetingTimeEndError(); updateIntersectionsWarnings()"></timepicker>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Место проведения
          <span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ng-select name="meetingPlace"
                     [items]="meetingPlaces"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     bindValue="code"
                     [(ngModel)]="agenda.meetingPlaceCode"
                     (change)="meetingPlaceChanged()">
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <div *ngFor="let intersectionWarning of intersectionsWarnings" class="text-danger"
               [innerHtml]="intersectionWarning">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Перенести</button>
    <button type="button" class="btn btn-warning" (click)="cancel()">Отмена</button>
  </div>
</div>
