<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right m-t-md">
        <a class="btn btn-sm btn-default" *ngIf="!regularExternal"
           (click)="createReport()"
           meetingMyAuth="MEETING_AGENDA_PRINT_BUTTON">Сформировать печатную форму</a>
        <button type="button"
                class="btn btn-sm btn-default"
                *ngIf="showCreateProtocol && agenda.agendaPublished && !regularExternal"
                (click)="createProtocol()" meetingMyAuth="MEETING_PROTOCOL_ADD_BUTTON">Создать протокол
        </button>
        <!-- TODO: MGGT-115 -->
        <!-- <button type="button"
                class="btn btn-sm btn-default"
                *ngIf="agenda.agendaPublished && !agenda.meetingHeld"
                (click)="renumberQuestions()"
                meetingMyAuth="MEETING_AGENDA_EDIT_BUTTON">Перенумеровать повестку
        </button> -->
        <button class="btn btn-sm btn-default"
                *ngIf="agenda.agendaPublished && agenda.meetingType === MEETING_TYPE_PZZ"
                (click)="previewPzzApproval()">Лист согласования
        </button>
        <!--TODO: voting-->
        <!--<button type="button"-->
        <!--meetingMyAuth="MEETING_PERFORM_VOTING"-->
        <!--class="btn btn-sm btn-default"-->
        <!--*ngIf="agenda.agendaPublished && agenda.meetingType === MEETING_TYPE_PZZ && !agenda.meetingNumber && agenda.meetingHeld !== true"-->
        <!--(click)="createGkVoting()">Провести голосование ГК-->
        <!--</button>-->
        <button type="button"
                class="btn btn-sm btn-primary"
                *ngIf="!agenda.meetingHeld && !regularExternal" (click)="editAgenda()"
                meetingMyAuth="MEETING_AGENDA_EDIT_BUTTON">Редактировать
        </button>
      </div>
      <h2 class="m-t-md">
        <small>{{meetingType.meetingFullName}}</small>
      </h2>
      <h2 class="m-t-sm semibold">Повестка заседания № {{agenda.meetingNumber}} от {{agenda.meetingDate | date:
        "dd.MM.yyyy"}}</h2>
      <h4>
        <span class="m-r">Время начала: {{agenda.meetingTime | date: "HH:mm"}}</span>
        <span class="m-r">Место проведения: {{agenda.meetingPlace}}</span>
      </h4>
      <div class="m-t m-b" *ngIf="showMeetingHeld && agenda.meetingHeld">
        <span class="label label-success m-r-sm">Заседание проведено</span>
      </div>
      <div class="clearfix"></div>

      <div class="m-t-md">
        <ul class="nav nav-tabs nav-tabs-showcase m-t-xs">
          <li class="uib-tab nav-item" (click)="activate(0)">
            <a class="nav-link ng-binding {{isActive(0) ? 'active-tab-bottom' : ''}}">Общая информация</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(1)" *ngIf="agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA">
            <a class="nav-link ng-binding {{isActive(1) ? 'active-tab-bottom' : ''}}">Внутренние поручения</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(2)" *ngIf="agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA">
            <a class="nav-link ng-binding {{isActive(2) ? 'active-tab-bottom' : ''}}">Ознакомление</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(3)" *ngIf="agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA">
            <a class="nav-link ng-binding {{isActive(3) ? 'active-tab-bottom' : ''}}">Процесс</a>
          </li>
        </ul>

        <div class="m-t-md" *ngIf="isActive(0)">
          <p class="semibold m-b-md">
            <span class="m-r">Всего вопросов — {{includedCount}}</span>
            <span class="m-r" *ngIf="agenda.agendaPublished">Повестка опубликована {{agenda.agendaPublished | date: 'dd.MM.yyyy HH:mm'}}</span>
            <span *ngIf="agenda.fileAgenda">
                  <cdp-ex-file-manager [files]="[agenda.fileAgenda]"
                  [checkSign]="true"
                                       [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                </span>
          </p>
          <alert type="warning" *ngIf="added.length > 0 || excluded.length > 0" [dismissible]="'true'">
            <span class="pull-right">Последнее изменение {{lastChangeDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            <span>Добавлены вопросы: </span><span class="alert-link m-r">{{added.join(', ')}}</span>
            <span>Исключены вопросы: </span><span class="alert-link m-r">{{excluded.join(', ')}}</span>
          </alert>
          <div class="row">
            <div class="col-lg-7">
              <div class="description">
                <dl class="dl-horizontal">
                  <dt>
                    <span>Приглашенные</span>
                  </dt>
                  <dd>
                    <div *ngFor="let attended of agenda.attended">
                      <span *ngIf="attended.internal">{{attended.iofShort}}</span>
                      <span *ngIf="!attended.internal">{{attended.name}}</span>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table our-table-xs table-bordered">
              <thead>
              <tr>
                <th class="center">№</th>
                <th class="center">Вопрос</th>
                <th class="center">Заказчик, правообладатель</th>
                <th class="center">Округ</th>
                <th class="center">Докладчики</th>
                <th class="center">Справка</th>
                <th class="center">Презентация</th>
                <th class="center">Чертеж</th>
                <th class="center">Материалы</th>
                <th class="center">Комментарии</th>
                <th class="center">ФОИВ</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let question of included">
                <td class="center">
                  <span>{{question.itemNumber}}</span>
                </td>
                <td>
                  <div class="semibold">
                <span class="text-success"
                      *ngIf="question.status === AGENDA_QUESTION_STATUS_ADDED">Вопрос добавлен</span>
                    <span *ngIf="question.status === AGENDA_QUESTION_STATUS_EXCLUDED">Вопрос исключен</span>
                  </div>
                  <div class="semibold">
                    <a *ngIf="hasQuestionViewPermission" uiSref="app.meeting.question" [uiParams]="{id: question.questionId}"
                       [ngClass]="question.status === AGENDA_QUESTION_STATUS_EXCLUDED ? 'text-muted': ''">
                      {{questions[question.questionId].questionConsider?.address}}
                    </a>
                    <div *ngIf="!hasQuestionViewPermission"
                         [ngClass]="question.status === AGENDA_QUESTION_STATUS_EXCLUDED ? 'text-muted': ''">
                      {{questions[question.questionId].questionConsider?.address}}
                    </div>
                  </div>
                  <div>{{questions[question.questionId].questionConsider?.cadastralNumber}}</div>
                  <div *ngIf="!meetingType.planningMeeting" class="semibold">
                    <a uiSref="app.meeting.question" [uiParams]="{id: question.questionId}"
                       [ngClass]="question.status === AGENDA_QUESTION_STATUS_EXCLUDED ? 'text-muted': ''">
                      {{questions[question.questionId].questionConsider?.question}}
                    </a>
                  </div>
                  <div *ngIf="meetingType.planningMeeting">
                    {{questions[question.questionId].questionConsider?.question}}
                  </div>
                </td>
                <td class="center">
                  <div class="semibold">{{questions[question.questionId].questionConsider?.customer}}</div>
                  <div>{{questions[question.questionId].questionConsider?.rightHolder}}</div>
                </td>
                <td class="center">
                  <div *ngIf="questions[question.questionId].questionConsider?.prefect">
                    {{questions[question.questionId].questionConsider?.prefect.join(',')}}
                  </div>
                </td>
                <td class="center">
                  <div class="semibold" *ngIf="questions[question.questionId].questionConsider?.speaker">
                    {{questions[question.questionId].questionConsider?.speaker?.organizationShort}}
                  </div>
                  <div *ngFor="let cospeaker of questions[question.questionId].questionConsider?.cospeaker">
                    {{cospeaker.organizationShort}}
                  </div>
                </td>
                <td class="center">
					<span
            *ngFor="let document of getMaterialGroupsDocuments(questions[question.questionId], MATERIAL_TYPE_INQUIRIES)">
						<a [href]="getFileLink(document.idFile)" meetingFileIcon="{{document.nameFile}}"></a>
					</span>
                </td>
                <td class="center">
					<span
            *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_PRESENTATION)">
						<a [href]="getFileLink(document.idFile)" meetingFileIcon="{{document.nameFile}}"></a>
					</span>
                </td>
                <td class="center">
					<span
            *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_GPZU_SCHEME)">
						<a [href]="getFileLink(document.idFile)" meetingFileIcon="{{document.nameFile}}"></a>
					</span>
                </td>
                <td class="center">
					<span
            *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_OTHER)">
						<a [href]="getFileLink(document.idFile)" meetingFileIcon="{{document.nameFile}}"></a>
					</span>
                </td>
                <td class="center">
                  <a
                    *ngIf="hasQuestionViewPermission && questions[question.questionId].comments && questions[question.questionId].comments && questions[question.questionId].comments.length > 0"
                    uiSref="app.meeting.question" [uiParams]="{id: question.questionId, tab: 'comments'}">
                    {{questions[question.questionId].comments.length}}
                  </a>
                </td>
                <td class="center">
                  <i *ngFor="let externalAgree of questions[question.questionId].questionConsider?.externalAgree"
                     ng-class="[pzzExternalAgree[externalAgree.organizationCode].icon, {'text-success': externalAgree.hasComment}]"
                     class="m-r-sm m-b-sm fa-2x"
                  ></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="m-t-md" *ngIf="isActive(1)">
          <mggt-subtasks-doc [dicts]="dicts" [subTasks]="insideOrder"></mggt-subtasks-doc>
        </div>
        <div class="m-t-md" *ngIf="isActive(2)">
          <mggt-agenda-review [document]="agenda"></mggt-agenda-review>
        </div>
        <div class="m-t-md" *ngIf="isActive(3)">
          <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
        </div>
      </div>

    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
