<div style="min-height: 300px">
  <div class="clearfix m-b-xs">

    <div class="pull-left">
      <p class="m-t-md">Найдено —
        <b>{{searchResult.numFound}}</b>
      </p>
    </div>

    <div class="pull-right m-t">

      <div class="btn-group">
        <a class="btn btn-primary btn-sm" target="_blank" uiSref="app.meeting.question" [uiParams]="{id: null}">Новый вопрос</a>
      </div>&nbsp;
      <div class="btn-group">
        <a class="btn btn-primary btn-sm" target="_blank" uiSref="app.meeting.agenda" [uiParams]="{id: null}">Проект повестки</a>
      </div>&nbsp;

      <meeting-question-planning-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting"
                                              (sortingChanged)="sortingChange($event)">
      </meeting-question-planning-list-sorting>

      <div class="btn-group">
        <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
          <i class="fa fa-filter"></i> Расширенный поиск
        </button>
      </div>

    </div>

  </div>

  <div class="animated fadeIn" [collapse]="extSearchCollapsed">
    <meeting-question-list-filters [filter]="filter" (filterChanged)="filterChange($event)">
    </meeting-question-list-filters>
  </div>

  <div *ngIf="!isLoading">

    <div class="hr-line-dashed"></div>
    <div style="overflow-x: auto">
      <table class="table table-bordered" style="font-size:13px;color:#676a6c;table-layout:fixed; min-width: 940px;">
        <thead>
        <tr style="border-top:1px solid #f0f0f0;font-weight:600;">
          <th style="width:110px;" data-info="planDate">
            Дата
          </th>
          <th style="font-weight: 600; width: 300px;" data-info="">
            Вопрос
          </th>
          <th style="font-weight: 600; width: 130px;" data-info="customer, rightHolder">
            Заявитель и правообладатель
          </th>
          <th style="font-weight: 600; width: 115px;"
              data-info="speakerFioFull, cospeakerFioFull">
            Докладчик и содокладчики
          </th>
          <th style="font-weight: 600; min-width: 120px;"
              data-info="commentDate, commentsAuthorFioFull, commentsAuthorPostSS, comment">
            Комментарии
          </th>
          <th style="font-weight: 600; width: 165px;" data-info="materialsChecked">
            Материалы проверены
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-template ngFor let-searchSection [ngForOf]="getVisibleSearchSections()">
          <tr>
            <td colspan="6">
              <h4 (click)="searchSection.expanded = !searchSection.expanded; triggerSection(searchSection)" style="cursor: pointer">
                <span class="m-r-sm">{{searchSection.count}}</span>
                <i class="fa m-r-sm fa-caret-right"></i>
                <span *ngIf="searchSection.planDate">{{searchSection.planDate | date: 'dd.MM.yyyy'}} </span>
                <span *ngIf="!searchSection.planDate">[Дата не определена] </span>
                <span *ngIf="searchSection.meetingType">{{searchSection.meetingType.meetingShortName}}</span>
              </h4>
            </td>
          </tr>
          <tr [hidden]="!(searchSection.expanded && searchSection.loading)">
            <td colspan="6">
              <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
            </td>
          </tr>
          <tr [hidden]="!(searchSection.expanded && !searchSection.loading)" *ngFor="let question of searchSection.docs">
            <td class="text-center">
              {{question.planDate | date: "dd.MM.yyyy"}}
            </td>
            <td>
              <h4 class="m-t-none">
                <a uiSref="app.meeting.question" [uiParams]="{id: question.documentId}" class="font-bold" target="_blank">
                  <span *ngIf="question.address">{{question.address}}</span>
                  <span *ngIf="!question.address">{{question.question}}</span>
                  <span>{{getPrefectsDistrictsString(question.prefectNames, question.district)}}</span>
                </a>
              </h4>
              <h4 *ngIf="question.cadastralNumber">
                {{question.cadastralNumber.join(', ')}}
              </h4>
              <div *ngIf="question.question" class="semibold m-b-xs">
                {{question.question}}
              </div>
              <div *ngIf="question.contractorPrepareFioFull">
                Ответственный исполнитель &mdash; {{question.contractorPrepareFioFull}}
              </div>
              <div *ngIf="question.presentPrepareFioFull">
                Ответственный за подготовку презентации &mdash; {{question.presentPrepareFioFull}}
              </div>
            </td>
            <td>
              <div *ngIf="question.customer">
                {{question.customer}}
              </div>
              <div *ngIf="question.rightHolder">
                {{question.rightHolder}}
              </div>
            </td>
            <td>
              <div *ngIf="question.speakerFioFull">
                <b>{{question.speakerFioFull}}</b>
              </div>
              <div *ngFor="let org of question.cospeakerFioFull">
                {{org}}
              </div>
            </td>
            <td>
              <div *ngFor="let comment of question.comment; let index = index">
                <div class="m-b-xs">
                  <span><b>{{question.commentsDate[index] | date: 'dd.MM.yyyy'}}</b></span>
                </div>
                <div class="m-b-xs">{{comment}}</div>
                <div class="m-b-xs">
                  <small>
                    <span>{{question.commentsAuthorFioFull[index]}}</span>
                    <span *ngIf="question.comment && question.commentsAuthorPostSS && question.comment.length === question.commentsAuthorPostSS.length">
                           {{question.commentsAuthorPostSS[index]}}
                        </span>
                  </small>
                </div>
              </div>
            </td>
            <td>
            <span class="label label-primary"
                  *ngIf="question.materialsChecked !== 'true'">Материалы не проверены</span>
              <span class="label label-success"
                    *ngIf="question.materialsChecked === 'true'">Материалы проверены</span>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div>
      <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                  [firstText]="'1'" [lastText]="searchResult.numFound"
                  [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                  [rotate]="true" (ngModelChange)="changePage()"
                  [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                  [maxSize]="3"
                  *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
    </div>
  </div>

  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
</div>
