<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right m-t-md">
        <button type="button" *ngIf="!protocol.secretary" class="btn btn-sm btn-default" (click)="createReport()"
                meetingMyAuth="MEETING_PROTOCOL_PRINT_BUTTON">Сформировать печатную форму
        </button>
        <button type="button" *ngIf="!protocol.secretary && !regularExternal" class="btn btn-sm btn-default"
                (click)="showAddFileDialog()">
          Загрузить файл
        </button>
        <div class="btn-group" *ngIf="!protocol.secretary && !regularExternal">
          <button type="button" class="btn btn-sm btn-primary" (click)="editProtocol()"
                  meetingMyAuth="MEETING_PROTOCOL_EDIT_BUTTON">Редактировать
          </button>
        </div>
        <!--button class="btn btn-sm btn-default" (click)="sendDecision()" *ngIf="!regularExternal">
          <i class="fa fa-envelope m-r-xs"></i>Отправить решение
        </button-->
        <button class="btn btn-sm btn-default" *ngIf="!regularExternal"
                (click)="createProtocolWithInstructionsPrintForm()">Протокол с
          поручениями
        </button>
      </div>
      <h2 class="m-t-md">
        <small>{{meetingType.meetingFullName}}</small>
      </h2>
      <h2 class="m-t-sm semibold">Протокол заседания № {{protocol.meetingNumber}} от {{protocol.meetingDate | date:
        'dd.MM.yyyy'}}</h2>
      <div class="m-t m-b" *ngIf="protocol.protocolApproved">
        <span class="label label-success m-r-sm">Протокол утвержден</span>
      </div>
      <span *ngIf="fileProtocolProject" class="protocol-view-file">
      <span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Файл протокола</span><br/>
      <cdp-ex-file-manager [files]="[fileProtocolProject]" [downloadable]="'false'" [downloadBaseHref]="'/filestore'"
                           [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
    </span>
      <span *ngIf="protocol.fileProtocolDraft && canViewProjectFiles" class="protocol-view-file">
  	  <span
        style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Проект протокола</span><br/>
      <cdp-ex-file-manager [files]="[protocol.fileProtocolDraft]" [downloadable]="'false'"
                           [downloadBaseHref]="'/filestore'"
                           [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
    </span>
      <span *ngIf="protocol.fileConclusionDraft && canViewProjectFiles" class="protocol-view-file">
	    <span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Проект Заключения ГК</span><br/>
      <cdp-ex-file-manager [files]="[protocol.fileConclusionDraft]" [downloadable]="'false'"
                           [downloadBaseHref]="'/filestore'"
                           [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
    </span>
      <span *ngIf="fileProtocol && canViewFiles" class="protocol-view-file"
            [ngClass]="fileProtocol && fileProtocolProject ? 'm-l': ''">
	    <span
        style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Электронный образ протокола</span><br/>
      <cdp-ex-file-manager [files]="[fileProtocol]" [downloadable]="'false'" [downloadBaseHref]="'/filestore'"
                           [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
    </span>
      <span *ngIf="meetingType.meetingShortName === 'ПЗЗ' && protocol.fileConclusion && canViewFiles"
            class="protocol-view-file m-1">
	    <span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Электронный образ Заключения ГК</span><br/>
      <cdp-ex-file-manager [files]="[protocol.fileConclusion]" [downloadable]="'false'"
                           [downloadBaseHref]="'/filestore'"
                           [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
    </span>

      <div class="row">
        <tabset>
          <tab heading="Решения">
            <div class="panel-body">
              <p class="semibold m-b-md">
                <span class="m-r">Всего вопросов — {{protocol.questionsNum}}</span>
              </p>
              <div class="table-responsive">
                <table class="table our-table-xs table-bordered">
                  <thead>
                  <tr>
                    <th class="center">№</th>
                    <th class="center">Вопрос</th>
                    <th class="center" width="20%">Категория решения</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let question of getQuestions()">
                    <td class="center">
                      <div class="m-t-xs">{{question.itemNumber}}</div>
                    </td>
                    <td>
                      <h3>
                        <a *ngIf="hasQuestionViewPermission" uiSref="app.meeting.question" [uiParams]="{id: question.questionID}">{{question.address}}</a>
                        <div *ngIf="!hasQuestionViewPermission">{{question.address}}</div>
                      </h3>
                      <div *ngIf="question.cadastralNumber">{{question.cadastralNumber}}</div>

                      <div *ngIf="question.question && meetingType.planningMeeting">
                        {{question.question}}
                      </div>

                      <div *ngIf="question.question && !meetingType.planningMeeting" class="semibold">
                        <a uiSref="app.meeting.question" [uiParams]="{id: question.questionID}">
                          {{question.question}}
                        </a>
                      </div>

                      <div class="semibold m-t-sm m-b-sm">Решение</div>
                      <div [innerHTML]="question.decisionText" style="white-space: pre-wrap;"></div>
                    </td>
                    <td>
                      <div class="semibold">{{question.decisionType}}</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
          <tab heading="Данные протокола">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-7">
                  <div class="description">
                    <dl class="dl-horizontal">
                      <dt>
                        <span>Присутствовали</span>
                      </dt>
                      <dd>
                        <div *ngFor="let attended of protocol.attended">{{attended.name}}</div>
                      </dd>
                      <dt>
                        <span>Редакционная группа от Москомстройнвеста</span>
                      </dt>
                      <dd>
                        <div *ngIf="protocol.draftingGroupInvest">
                          <div *ngFor="let member of protocol.draftingGroupInvest.member">{{member.iofShort}}</div>
                        </div>
                      </dd>
                      <dt>
                        <span>Редакционная группа от Москомархитектуры</span>
                      </dt>
                      <dd>
                        <div *ngIf="protocol.draftingGroupMKA">
                          <div *ngFor="let member of protocol.draftingGroupMKA.member">{{member.iofShort}}</div>
                        </div>
                      </dd>
                      <dt>
                        <span>Протокольная группа Москомархитектуры</span>
                      </dt>
                      <dd>
                        <div *ngIf="protocol.protocolGroup">
                          <div *ngFor="let member of protocol.protocolGroup.member">{{member.iofShort}}</div>
                        </div>
                      </dd>
                      <dt>
                        <span>Протокол утвердил</span>
                      </dt>
                      <dd>
                        <div *ngIf="protocol.approvedBy">
                          {{protocol.approvedBy.iofShort}}
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Процесс">
            <div class="panel-body">
              <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
            </div>
          </tab>
          <!--TODO: voting-->
          <!--<tab heading="Листы голосования" *ngIf="protocol.meetingType === MeetingType.PZZ && hasApprovalSheetViewPermission">-->
          <!--<div class="panel-body">-->
          <!--<approval-sheet></approval-sheet>-->
          <!--</div>-->
          <!--</tab>-->
          <tab heading="Поручения">
            <div class="panel-body">
              <mggt-protocol-instructions [data]="instructions"></mggt-protocol-instructions>
            </div>
          </tab>
          <tab heading="Внутренние поручения" *ngIf="protocol.receivedFromMKA && protocol.receivedFromMKA.FromMKA">
            <div class="panel-body">
              <mggt-subtasks-doc [dicts]="dicts" [subTasks]="insideOrder"></mggt-subtasks-doc>
            </div>
          </tab>
          <tab heading="Ознакомление" *ngIf="protocol.receivedFromMKA && protocol.receivedFromMKA.FromMKA">
            <div class="panel-body">
              <mggt-protocol-review [document]="protocol"></mggt-protocol-review>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
