<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" (click)="cancel()">&times;</button>
    <h4 class="modal-title">Электронный образ протокола</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <a>
          <div class="dropzone" [dropzone]="dropzoneConfig">
            <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
          </div>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Сохранить
    </button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
