<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *ngIf="data.length">
        <div class="m-b">Всего вопросов - {{data.length}}</div>
        <div class="table-responsive" style="border-bottom:1px solid #e7eaec">
          <table class="table our-table-xs table-bordered voting-table">
            <thead>
            <tr>
              <th class="center col-xs-1">№</th>
              <th class="center col-xs-4">Вопрос</th>
              <th colspan="2" class="center col-xs-7">Поручения
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data; let index = index;">
              <td width="10px" class="center">{{index + 1}}</td>
              <td>
                <div *ngIf="item.question.address">{{item.question.address}}</div>
                <a *ngIf="hasQuestionViewPermission" uiSref="app.meeting.question" [uiParams]="{id: item.question.questionID}">{{item.question.question}}</a>
                <div *ngIf="!hasQuestionViewPermission">{{item.question.question}}</div>
                <div class="semibold">Решение:</div>
                <div [innerHTML]="item.question.decisionText" style="white-space: pre-wrap;"></div>
              </td>
              <td>
                <mggt-meeting-instruction [statuses]="statuses" [instructions]="item.instructions"></mggt-meeting-instruction>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="!data.length">
        <div style="height: 200px; padding-top: 70px;">
          <h1 class="text-center">Нет элементов для отображения</h1>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при получении списка
        поручений</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
