<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form method="get" class="form-horizontal" name="agendaEditForm">

        <h4>Повестка заседания</h4>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид заседания<span
            class="our-mandatory">*</span></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="meetingType"
                       [items]="meetingTypes"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="meetingFullName"
                       bindValue="meetingType"
                       [required]="'true'"
                       [(ngModel)]="agenda.meetingType" (change)="meetingTypeChanged()">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата заседания<span
            class="our-mandatory">*</span></label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <cdp-date-selector [(model)]="agenda.meetingDate" (modelChange)="meetingDateChanged($event)"></cdp-date-selector>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время начала заседания<span
            class="our-mandatory">*</span></label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="input-groupccc" data-autoclose="true">
              <timepicker [(ngModel)]="agenda.meetingTime" name="meetingTime" [showMeridian]="false"
                          [showSpinners]="false"></timepicker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Место проведения</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="meetingPlace"
                       [items]="meetingPlaces"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       bindValue="name"
                       [(ngModel)]="agenda.meetingPlace">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <h4 class="col-lg-3 col-md-3 col-sm-3 text-right">Приглашенные</h4>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Внутренние</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row" *ngFor="let attendee of internalAttendees; let last = last; let index = index;">
              <div class="col-lg-10">
                <ng-select [items]="attendees$[index] | async"
                       bindLabel="fioFull"
                       [multiple]="false"
                       [hideSelected]="true"
                       [loading]="attendeesLoading[index]"
                       [typeahead]="attendeesInput$[index]"
                       placeholder="Введите 3 символов для начала поиска"
                       [(ngModel)]="attendee.result" name="attendee-{{index}}">
            </ng-select>
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn btn-sm btn-default" (click)="addInternalAttendee()" *ngIf="last"
                        ng-disabled="updatingUsersListInProgress">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default" (click)="removeInternalAttendee(attendee)"
                        ng-disabled="updatingUsersListInProgress">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Внешние</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row">
              <div class="col-lg-10">
                <ng-select name="externalAttendees"
                           [items]="meetingAttendees"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           [placeholder]="'Выберите присутствовавших'"
                           [(ngModel)]="externalAttendees">
                </ng-select>
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn btn-sm btn-default" (click)="clearAttendees()">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="agenda.meetingType && agenda.meetingDate">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Включены в повестку - {{includedCount}}</h4>
            <cdp-loading-block [loadingStatus]="loadingQuestionsStatus">
              <div success>
                <div class="table-responsive" *ngIf="loadingQuestionsSuccess">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="center">№ пункта</th>
                      <th class="center">Готовность вопроса</th>
                      <th class="center">Вопрос</th>
                      <th class="center">Заказчик</th>
                      <th class="center">Округ</th>
                      <th class="center">Докладчик</th>
                      <th class="center">Справка</th>
                      <th class="center">Чертеж</th>
                      <th class="center">Презентация</th>
                      <th class="center">Материалы</th>
                      <th class="center">Исключить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let question of included; let index = index;"
                        [ngClass]="question.status === AGENDA_QUESTION_STATUS_EXCLUDED ? 'warning': ''">
                      <td>{{question.itemNumber}}</td>
                      <td>
                        <span *ngIf="isPrepared(question.questionId)">Вопрос подготовлен</span>
                        <span *ngIf="!isPrepared(question.questionId)">Вопрос не подготовлен</span>
                      </td>
                      <td>
                        <div *ngIf="question.status === AGENDA_QUESTION_STATUS_EXCLUDED" class="semibold">
                          Вопрос исключен
                        </div>
                        <div>
                          <a *ngIf="hasQuestionViewPermission"
                             uiSref="app.meeting.question" [uiParams]="{id: question.questionId}">
                            {{questions[question.questionId].questionConsider.address}}
                          </a>
                          <div *ngIf="!hasQuestionViewPermission">
                            {{questions[question.questionId].questionConsider.address}}
                          </div>
                        </div>
                        <div>{{questions[question.questionId].questionConsider.cadastralNumber}}</div>
                        <div>{{questions[question.questionId].questionConsider.question}}</div>
                      </td>
                      <td>{{questions[question.questionId].questionConsider.customer}}</td>
                      <td>
                        <span *ngIf="questions[question.questionId].questionConsider.prefect">
                          {{questions[question.questionId].questionConsider.prefect.join(',')}}
                        </span>
                      </td>
                      <td>
                        <div class="semibold" *ngIf="questions[question.questionId].questionConsider.speaker">
                          {{questions[question.questionId].questionConsider.speaker.organizationShort}}
                        </div>
                        <div *ngFor="let cospeaker of questions[question.questionId].questionConsider.cospeaker">
                          {{cospeaker.organizationShort}}
                        </div>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupsDocuments(questions[question.questionId], MATERIAL_TYPE_INQUIRIES)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_GPZU_SCHEME)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_PRESENTATION)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[question.questionId], MATERIAL_TYPE_OTHER)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
                        <button class="btn btn-primary"
                                (click)="exclude(index)" *ngIf="question.status !== AGENDA_QUESTION_STATUS_EXCLUDED">
                          <i class="fa fa-minus"></i>
                        </button>
                        <a class="btn btn-primary" (click)="restore(index)"
                           *ngIf="question.status === AGENDA_QUESTION_STATUS_EXCLUDED && canRestore(question.questionId)">
                          <i class="fa fa-plus"></i>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div error>
                <div style="height: 200px; padding-top: 70px;">
                  <h3 class="text-center">
                    <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при загрузке списка вопросов
                  </h3>
                </div>
              </div>
              <div loading>
                <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
              </div>
            </cdp-loading-block>
          </div>
        </div>

        <div class="form-group" *ngIf="agenda.meetingType && agenda.meetingDate">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Кандидаты на включение - {{candidates.length}}</h4>
            <cdp-loading-block [loadingStatus]="loadingQuestionsStatus">
              <div success>
                <div class="table-responsive" *ngIf="loadingQuestionsSuccess">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="center">Готовность вопроса</th>
                      <th class="center">Вопрос</th>
                      <th class="center">Заказчик</th>
                      <th class="center">Округ</th>
                      <th class="center">Докладчик</th>
                      <th class="center">Справка</th>
                      <th class="center">Чертеж</th>
                      <th class="center">Презентация</th>
                      <th class="center">Материалы</th>
                      <th class="center">Включить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let questionID of candidates; let index = index;">
                      <td>
                        <span *ngIf="isPrepared(questionID)">Вопрос подготовлен</span>
                        <span *ngIf="!isPrepared(questionID)">Вопрос не подготовлен</span>
                      </td>
                      <td>
                        <div>
                          <a *ngIf="hasQuestionViewPermission" uiSref="app.meeting.question" [uiParams]="{id: questionID}">{{questions[questionID].questionConsider.address}}</a>
                          <div *ngIf="!hasQuestionViewPermission">
                            {{questions[questionID].questionConsider.address}}
                          </div>
                        </div>
                        <div>{{questions[questionID].questionConsider.cadastralNumber}}</div>
                        <div>{{questions[questionID].questionConsider.question}}</div>
                      </td>
                      <td>{{questions[questionID].questionConsider.customer}}</td>
                      <td>
                        <span *ngIf="questions[questionID].questionConsider.prefect">
                          {{questions[questionID].questionConsider.prefect.join(',')}}
                          </span>
                      </td>
                      <td>
                        <div class="semibold" *ngIf="questions[questionID].questionConsider.speaker">
                          {{questions[questionID].questionConsider.speaker.organizationShort}}
                        </div>
                        <div *ngFor="let cospeaker of questions[questionID].questionConsider.cospeaker">
                          {{cospeaker.organizationShort}}
                        </div>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupsDocuments(questions[questionID], MATERIAL_TYPE_INQUIRIES)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[questionID], MATERIAL_TYPE_GPZU_SCHEME)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[questionID], MATERIAL_TYPE_PRESENTATION)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td>
								<span
                  *ngFor="let document of getMaterialGroupDocuments(questions[questionID], MATERIAL_TYPE_OTHER)"
                  meetingFileIcon="{{document.nameFile}}">
								</span>
                      </td>
                      <td><a class="btn btn-primary" (click)="include(index)"><i class="fa fa-plus"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div error>
                <div style="height: 200px; padding-top: 70px;">
                  <h3 class="text-center">
                    <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при загрузке списка вопросов
                  </h3>
                </div>
              </div>
              <div loading>
                <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
              </div>
            </cdp-loading-block>
          </div>
        </div>

        <div class="form-group" *ngIf="agenda.meetingType && agenda.meetingDate && agenda.agendaPublished">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Обновления</h4>
            <cdp-loading-block [loadingStatus]="loadingQuestionsStatus">
              <div success>
                <div class="table-responsive" *ngIf="loadingQuestionsSuccess">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="center">Дата</th>
                      <th class="center">Вопрос</th>
                      <th class="center">Тип обновления</th>
                      <th class="center">Причина изменения</th>
                      <th class="center">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let question of getUpdates()">
                      <td>{{question.dateChange | date: 'dd.MM.yyyy HH:mm'}}</td>
                      <td>
                        <div>
                          <a *ngIf="hasQuestionViewPermission"
                             uiSref="app.meeting.question" [uiParams]="{id: question.questionId}">{{questions[question.questionId].questionConsider.address}}</a>
                          <div *ngIf="!hasQuestionViewPermission">
                            {{questions[question.questionId].questionConsider.address}}
                          </div>
                        </div>
                        <div>{{questions[question.questionId].questionConsider.cadastralNumber}}</div>
                        <div>{{questions[question.questionId].questionConsider.question}}</div>
                      </td>
                      <td>
                        <span *ngIf="question.status === AGENDA_QUESTION_STATUS_EXCLUDED">Вопрос исключен</span>
                        <span *ngIf="question.status === AGENDA_QUESTION_STATUS_ADDED">Вопрос добавлен</span>
                      </td>
                      <td>{{question.reasonChange}}</td>
                      <td>{{question.fio}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div error>
                <div style="height: 200px; padding-top: 70px;">
                  <h3 class="text-center">
                    <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при загрузке списка вопросов
                  </h3>
                </div>
              </div>
              <div loading>
                <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
              </div>
            </cdp-loading-block>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button (click)="save()" type="button" class="btn btn-w-m btn-default">Сохранить</button>
            <button *ngIf="!agenda.agendaPublished" (click)="publish()" [disabled]="!agenda.agendaID" type="button"
                    class="btn btn-w-m btn-primary">Опубликовать
            </button>
            <button *ngIf="availableToCopy"
                    [disabled]="!agenda.meetingDate"
                    (click)="showCopyQuestionsDialog()" type="button" class="btn btn-w-m btn-primary">Скопировать
              вопросы из предыдущей повестки
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
