<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" (click)="cancel()">&times;</button>
    <h3 class="modal-title">Скопировать вопросы</h3>
  </div>
  <div class="modal-body">
    <form name="form" class="form-horizontal" *ngIf="questions.length">
      <span class="m-r">Выбрано вопросов — {{getCheckedCount()}}</span>
      <table class="table-condensed">
        <thead>
        <tr>
          <th></th>
          <th>№</th>
          <th>Вопрос</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of questions; let index = index;">
          <td>
            <input name="checked{{index}}" type="checkbox" cdp-icheck [(ngModel)]="checked[index]">
          </td>
          <td>{{question.itemNumber}}</td>
          <td>
            <div class="semibold">{{question.question}}</div>
            <div>{{question.questionCategory}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
    <div *ngIf="!questions.length">
      <div style="height: 200px; padding-top: 70px;">
        <h1 class="text-center">Нет элементов для отображения</h1>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!getCheckedCount()" (click)="save()">Сохранить
    </button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>

