<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'editProtocol'">
        <div *ngFor="let cycle of protocol.approvalHistory?.approvalCycle; let last = last;">
          <div *ngIf="last">
            <h4 class="m-b-md">Замечания</h4>
            <div class="description" *ngFor="let agreed of cycle.agreed">
              <dl class="dl-horizontal">
                <dt>
                  <span>ФИО и должность</span>
                </dt>
                <dd>
                  <span>{{agreed.agreedBy.fioFull}}</span>
                  <span *ngIf="agreed.agreedBy.post">, {{agreed.agreedBy.post}}</span>
                </dd>
                <dt>
                  <span>Дата замечания</span>
                </dt>
                <dd>
                  <span>{{agreed.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</span>
                </dd>
                <dt>
                  <span>Комментарий</span>
                </dt>
                <dd>
                  <div>{{agreed.approvalNote}}</div>
                  <div *ngIf="agreed.fileApproval">
                    <div *ngFor="let file of agreed.fileApproval">
                      <cdp-ex-file [fileInfo]="file" [deletable]="false"
                                   [showDate]="true" [showSize]="true" [downloadBaseHref]="'/filestore'"
                                   [downloadBlank]="true"
                      ></cdp-ex-file>
                    </div>
                  </div>
                </dd>
              </dl>
            </div>
            <hr/>
          </div>
        </div>
        <h4 class="m-b-md">Данные протокола</h4>
        <div class="description">
          <dl class="dl-horizontal">
            <dt>
              <span>Вид совещания</span>
            </dt>
            <dd>{{protocol.meetingFullName}}</dd>
            <dt>
              <span>Совещание</span>
            </dt>
            <dd>
              <a uiSref="app.meeting.agenda" [uiParams]="{id: agenda.agendaID}">
                № {{protocol.meetingNumber}} от {{protocol.meetingDate | date: 'dd.MM.yyyy'}}
              </a>
            </dd>
            <dt>
              <span>Тема</span>
            </dt>
            <dd>{{agenda.meetingTheme}}</dd>
            <dt>
              <span>Время проведения</span>
            </dt>
            <dd>
              <span *ngIf="!agenda.meetingTimeEnd">с {{agenda.meetingTime | date: 'HH:mm'}}</span>
              <span *ngIf="agenda.meetingTimeEnd">с {{agenda.meetingTime | date: 'HH:mm'}} по {{agenda.meetingTimeEnd | date: 'HH:mm'}}</span>
            </dd>
            <dt>
              <span>Инициатор</span>
            </dt>
            <dd>{{agenda.initiator?.fioFull}}</dd>
            <dt>
              <span>Участники</span>
            </dt>
            <dd>{{attended.join(', ')}}</dd>
            <!--Участники	document/protocol/attended/iofShort	все участники в одну строку через запятую-->

          </dl>
        </div>
        <table class="table" style="table-layout: fixed;">
          <thead>
          <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-1">№</th>
            <th class="center col-xs-2">Вопрос</th>
            <th class="center col-xs-2">Ответственный</th>
            <th class="center col-xs-2">Решение</th>
            <th class="center col-xs-4">Поручения</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of questions; let index = index; let last = last; let first = first;">
            <td>
              <button type="button" class="btn btn-xs btn-default" (click)="removeQuestion(index)"
                      *ngIf="questions.length > 1" title="Удалить вопрос">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-xs btn-default" (click)="swapQuestions(index, index - 1)"
                      *ngIf="allQuestionsSaved() && !first">
                <i class="fa fa-arrow-up m-r-xs"></i>
              </button>
              <button type="button" class="btn btn-xs btn-default" *ngIf="allQuestionsSaved() && !last"
                      (click)="swapQuestions(index, index + 1)">
                <i class="fa fa-arrow-down m-r-xs"></i>
              </button>
              <button type="button" class="btn btn-xs btn-default" (click)="saveQuestion(index)"
                      *ngIf="!question.questionID" title="Сохранить вопрос">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" class="btn btn-xs btn-primary" (click)="addInstruction(index)"
                      *ngIf="question.questionID" title="Добавить поручение">
                <i class="fa fa-file"></i>
              </button>
            </td>
            <td>
              {{question.questionConsider.itemNumber || ''}}
            </td>
            <td>
              <span *ngIf="question.questionID">{{question.questionConsider.question}}</span>
              <input *ngIf="!question.questionID" class="form-control" [(ngModel)]="question.questionConsider.question"
                     name="question-{{index}}"/>
            </td>
            <td>
              <span
                *ngIf="question.questionID">{{question.questionConsider?.responsiblePrepare?.contractorPrepareFIO}}</span>
              <ng-select *ngIf="!question.questionID" (open)="openResponsibles()"
                         (focus)="openResponsibles()"
                         [items]="responsibles1"
                         name="responsiblePrepare-{{index}}"
                         bindLabel="contractorPrepareFIO"
                         [multiple]="false"
                         [hideSelected]="true"
                         [(ngModel)]="question.questionConsider.responsiblePrepare">
              </ng-select>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="decisionTexts[index]" name="decisionText{{index}}"/>
            </td>
            <td>
              <div *ngIf="question.questionID">
                <mggt-meeting-instruction [statuses]="statuses"
                                          [instructions]="instructions[question.questionID]"></mggt-meeting-instruction>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-xs btn-default" (click)="addQuestion()" *ngIf="allQuestionsSaved()"
                      title="Добавить вопрос">
                <i class="fa fa-plus"></i>
              </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Проект протокола<span
            class="our-mandatory" *ngIf="!files.length">*</span></label>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="m-b" *ngIf="!files.length">
              <button type="button" class="btn btn-primary" (click)="createProtocolDraft()">Сформировать проект
                протокола
              </button>
            </div>
            <div class="m-b">
              <cdp-ex-file-manager [files]="files" [downloadable]="!files.length" [deletable]="true"
                                   [downloadBaseHref]="'/filestore'" [maxNumberOfFiles]="'1'"
                                   [folderGuid]="protocol.folderId" fileType="'default'" [extPattern]="'docx'"
                                   [showSize]="'true'" [showDate]="'true'"></cdp-ex-file-manager>
            </div>
          </div>
        </div>

        <div *ngIf="protocol.approvalHistory && protocol.approvalHistory.approvalCycle">
          <div *ngFor="let cycle of protocol.approvalHistory.approvalCycle; let index = index;">
            <cdp-expanded-section [(expand)]="historyCycleExpanded[index]">
              <span header-slot style="display:inline;">Предыдущий цикл согласования {{cycle.approvalCycleNum}} от {{cycle.approvalCycleDate | date:'dd.MM.yyyy'}}</span>
              <div content-slot>
                <mggt-approval-list [list]="cycle"></mggt-approval-list>
              </div>
            </cdp-expanded-section>
          </div>
        </div>

        <div class="row m-t-lg">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9 control-block">
            <button (click)="save()" class="btn btn-default m-r-sm">Сохранить данные без завершения задачи</button>
            <button (click)="sendToApproval()" class="btn btn-primary">Направить на утверждение</button>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
        карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
