<div class="animated fadeIn">
  <div class="wrapper wrapper-content">
    <div class="ibox-content ibox float-e-margins">
      <div>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>





