<div style="background-color:white">
  <cdp-loading-block [loadingStatus]="loading">
    <div success>
      <div *ngIf="success">
        <div class="clearfix">
          <h2 class="font-bold pull-left">Административные совещания</h2>
          <div *ngIf="isAvailableToMeetingAgendaCreate()" class="pull-right">
            <a class="btn btn-sm btn-primary" target="_blank" uiSref="app.meeting.agenda" [uiParams]="{id: null, express: true}">
              Создать совещание
            </a>
          </div>
        </div>

        <div class="search-form">
          <form (submit)="searchChanged()">
            <div class="input-group">
              <input class="form-control input-lg" name="value" placeholder="Номер Совещания, Тема Совещания, Совещание проводит" [(ngModel)]="search">
              <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">Найти</button>
              </div>
            </div>
          </form>
        </div>

        <div class="m-t-md">
          <ul class="nav nav-tabs nav-tabs-showcase m-t-xs">
            <li class="uib-tab nav-item"
                *ngFor="let tab of tabs"
                (click)="activate(tab.alias)">
              <a class="nav-link ng-binding {{isActive(tab.alias) ? 'active-tab-bottom' : ''}}">
                {{tab.title}}
              </a>
            </li>
          </ul>
          <div>
            <div *ngFor="let t of tabs">
              <mggt-express-meetings-list *ngIf="activeTab === t.alias" [tabFilter]="t.filter" [dicts]="dicts"></mggt-express-meetings-list>
            </div>
            <div></div>
            <div *ngIf="activeTab === null">
              <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения или доступа к разделу</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div error>
      <div class="container">
        <div class="row">
          <div class="m-t-sm" style="padding: 20px 45px;">
            <span class="fa fa-times-circle text-danger"></span>
            <span>Ошибка формирования витрины</span>
          </div>
        </div>
      </div>
    </div>
    <div loading>
      <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </div>
  </cdp-loading-block>
</div>
