.admin-meetings-search-table {
  font-size: 14px;
  color: #676a6c;
  min-height: 400px;
}

.admin-meetings-search-table th {
  font-weight: 600;
  vertical-align: top;
  outline: none;
}

.admin-meetings-search-table td a {
  color: #337ab7 !important;
}

.timerange {
  position: relative;
  display: inline-block;
}

.timerange-container {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 25px 15px 15px;
}

.timerange table {
  width: 100%;
}

.timerange-clear {
  position: absolute;
  top: 5px;
  right: 5px;
}
