<div class="container-fluid m-t-sm">
  <div class="pull-right m-t">
    <button class="btn btn-white btn-sm"
            (click)="clearFilters()">
      Очистить
    </button>
    <div class="btn-group">
      <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
        <i class="fa fa-filter"></i> Расширенный поиск
      </button>
    </div>
  </div>
</div>

<div class="animated fadeIn" *ngIf="!extSearchCollapsed">
  <div class="container-fluid searchFilter m-b-lg">

    <h3 class="m-t-md" style="color:#aaa;margin-bottom:25px;">
      Расширенный поиск
    </h3>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Дата совещания</div>
      <div class="col-md-9">
        <cdp-date-range-select [(dateFrom)]="filter.meetingDate.from" [(dateTo)]="filter.meetingDate.to"
                               (dateFromChange)="_onFilterChange()"
                               (dateToChange)="_onFilterChange()"></cdp-date-range-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Вид совещания</div>
      <div class="col-md-9">
        <ng-select [items]="dicts.meetingTypes"
                   bindLabel="meetingFullName"
                   bindValue="meetingType"
                   [multiple]="true"
                   [hideSelected]="true"
                   (change)="_onFilterChange()"
                   [(ngModel)]="filter.meetingType" name="meetingType">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Статус</div>
      <div class="col-md-9">
        <ng-select [items]="dicts.meetingStatuses"
                   bindLabel="name"
                   [multiple]="true"
                   [hideSelected]="true"
                   (change)="_onFilterChange()"
                   [(ngModel)]="filter.statusName" name="statusName">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Номер совещания</div>
      <div class="col-md-9">
        <input class="form-control"
               [(ngModel)]="filter.meetingNumber"
               (enter)="_onFilterChange()"
               (blur)="_onFilterChange()"
        >
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Исполнитель</div>
      <div class="col-md-9">
        <ng-select [items]="authors$ | async"
                   bindLabel="displayName"
                   bindValue="displayName"
                   [multiple]="false"
                   [hideSelected]="true"
                   [typeahead]="authorsInput$"
                   placeholder="Введите 3 символа для начала поиска"
                   (change)="_onFilterChange()"
                   [(ngModel)]="filter.authorCreateName" name="authorCreateName">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Инициатор</div>
      <div class="col-md-9">
        <ng-select [items]="initiators$ | async"
                   bindLabel="displayName"
                   bindValue="displayName"
                   [multiple]="false"
                   [hideSelected]="true"
                   [typeahead]="initiatorsInput$"
                   placeholder="Введите 3 символа для начала поиска"
                   (change)="_onFilterChange()"
                   [(ngModel)]="filter.initiatorName" name="initiatorName">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Тема совещания</div>
        <div class="col-md-9">
            <ng-select [items]="dicts.meetingThemes"
                       bindLabel="name"
                       bindValue="name"
                       [multiple]="true"
                       [hideSelected]="true"
                       (change)="_onFilterChange()"
                       [(ngModel)]="filter.meetingTheme" name="meetingTheme">
            </ng-select>
        </div>
      </div>

  </div>

</div>

<div class="container-fluid m-t-sm">
  <div class="pull-left">
    <p class="m-t-md">Найдено — <b>{{searchResult.numFound}}</b>
      <span *ngIf="block">
            <i style="font-size:18px" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
         </span>
    </p>
  </div>
</div>

<div class="">
  <div style="overflow-x: auto; overflow-y: hidden">
    <div class="table-overflow-container" style="overflow-y: hidden">
      <table class="table table-striped table-hover admin-meetings-search-table">
        <thead>
        <tr style="border-top: 1px solid #f0f0f0; font-weight: 600;">
          <th [style]="s.width"
              style=""
              *ngFor="let s of sortings"
              (click)="sortingChanged(s)">

            {{s.name}}
            <span *ngIf="s.value === 'none'" class="fa fa-angle-down"></span>
            <span *ngIf="s.value === 'desc'" class="fa fa-caret-down"></span>
            <span *ngIf="s.value === 'asc'" class="fa fa-caret-up"></span>

          </th>
        </tr>
        <tr style="background-color: white;">
          <th>
            <ng-select [items]="dicts.meetingStatuses" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
              bindLabel="name" [(ngModel)]="tableFilter.statusName"
              name="statusNameColumn" (change)="_onFilterChange()">
            </ng-select>
          </th>
          <th class="text-center">
            <div style="display:inline-block">
              <cdp-date-range-select-table [(dateFrom)]="tableFilter.meetingDate.from"
                                           [(dateTo)]="tableFilter.meetingDate.to"
                                           [onChange]="_onFilterChange"></cdp-date-range-select-table>
            </div>
          </th>
          <th class="text-center">
            <div class="timerange">
              <button class="btn btn-default" (click)="toggleTimeFilter()">
                <i class="glyphicon glyphicon-time"></i>
              </button>
              <div *ngIf="showClockRange" class="timerange-container">
                <div *ngIf="tableFilter.meetingTime.time || tableFilter.meetingTimeEnd.time"
                     class="timerange-clear"
                >
                  <a (click)="clearTimeFilter()">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </div>
                <timepicker
                  [(ngModel)]="tableFilter.meetingTime.time"
                  [showMeridian]="false" [showSpinners]="false"
                  [hourStep]="'1'" [minuteStep]="'1'"
                  (ngModelChange)="_onFilterChange()"></timepicker>
                <timepicker
                  [(ngModel)]="tableFilter.meetingTimeEnd.time"
                  [showMeridian]="false" [showSpinners]="false"
                  [hourStep]="'1'" [minuteStep]="'1'"
                  (ngModelChange)="_onFilterChange()"></timepicker>
              </div>
            </div>
          </th>
          <th>
            <input class="form-control" name="meetingTheme"
                   [(ngModel)]="tableFilter.meetingThemeName"
                   (input)="_onFilterChange()"
            >
          </th>
          <th>
            <input class="form-control" name="meetingPlace"
                   [(ngModel)]="tableFilter.meetingPlaceName"
                   (input)="_onFilterChange()"
            >
          </th>
          <th>
            <ng-select [items]="initiators$ | async"
                       bindLabel="displayName"
                       bindValue="displayName"
                       [multiple]="false"
                       [hideSelected]="true"
                       [typeahead]="initiatorsInput$"
                       placeholder="Введите 3 символа для начала поиска"
                       (change)="_onFilterChange()"
                       [(ngModel)]="tableFilter.initiatorFioFull" name="initiatorName">
            </ng-select>
          </th>
          <th>
            <ng-select [items]="authors$ | async"
                       bindLabel="displayName"
                       bindValue="displayName"
                       [multiple]="false"
                       [hideSelected]="true"
                       [typeahead]="authorsInput$"
                       placeholder="Введите 3 символа для начала поиска"
                       (change)="_onFilterChange()"
                       [(ngModel)]="tableFilter.authorCreateFioFull" name="authorCreateName">
            </ng-select>
          </th>
        </tr>
        </thead>

        <tbody *ngIf="dataIsUpdating">
        <tr>
          <td style="text-align: center" colspan="10">
            <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="searchResult.numFound === 0 && !dataIsUpdating">
        <tr>
          <td style="text-align: center" colspan="10">
            <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="searchResult.numFound > 0 && !dataIsUpdating">

        <tr *ngFor="let d of searchResult.docs">
          <td>
            <span class="label-{{statuses[d.statusName]}} label">
              {{d.statusName}}
            </span>
          </td>

          <td class="text-center">
            {{d.meetingDate | date: "dd.MM.yyyy"}}
          </td>

          <td class="text-center">
            {{d.meetingTime.slice(0, -3) | date: 'HH:mm'}} - {{d.meetingTimeEnd.slice(0, -3) | date: 'HH:mm'}}
          </td>

          <td>
            <a uiSref="app.meeting.agenda" [uiParams]="{id: d.documentId}" target="_blank">
              {{d.meetingShortName}} {{(d.meetingNumber ? ' № ' + d.meetingNumber : '')}}
            </a>
            <br/>
            {{d.meetingThemeName}}
          </td>

          <td>
            {{d.meetingPlaceName}}
          </td>

          <td>
            {{d.initiatorFioFull}}
          </td>

          <td>
            {{d.authorCreateFioFull}}
          </td>
        </tr>
        </tbody>

      </table>

    </div>
  </div>

  <div class="text-center" *ngIf="searchResult.numFound > 20 && !dataIsUpdating">
    <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage" [firstText]="'1'"
                [lastText]="searchResult.numFound"
                [previousText]="'Предыдущая'" [nextText]="'Следующая'" [rotate]="true" (ngModelChange)="changePage()"
                [itemsPerPage]="20"
                class="m-b-xs" [maxSize]="3" *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
  </div>

</div>
