<div style="background-color:white">
  <div class="clearfix">
    <h2 class="font-bold pull-left">Регламентные совещания</h2>
  </div>

  <div class="search-form">
    <form (submit)="searchChanged()">
      <div class="input-group">
        <input class="form-control input-lg" name="value" placeholder="Вопрос" [(ngModel)]="search">
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Найти</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <ul class="nav nav-tabs m-t-xs">
      <li class="uib-tab nav-item" (click)="activate('questions')">
        <a class="nav-link ng-binding" [ngClass]="isActive('questions') ? 'active-tab-bottom' : ''">Вопросы</a>
      </li>
      <li class="uib-tab nav-item" (click)="activate('agendas')">
        <a class="nav-link ng-binding" [ngClass]="isActive('agendas') ? 'active-tab-bottom' : ''">Повестки</a>
      </li>
      <li class="uib-tab nav-item" (click)="activate('protocols')">
        <a class="nav-link ng-binding" [ngClass]="isActive('protocols') ? 'active-tab-bottom' : ''">Протоколы</a>
      </li>
      <li class="uib-tab nav-item" (click)="activate('planning')">
        <a class="nav-link ng-binding" [ngClass]="isActive('planning') ? 'active-tab-bottom' : ''">План совещаний</a>
      </li>
      <li class="uib-tab nav-item" (click)="activate('projects')">
        <a class="nav-link ng-binding" [ngClass]="isActive('projects') ? 'active-tab-bottom' : ''">Проекты повесток</a>
      </li>
      <li class="uib-tab nav-item" (click)="activate('presentations')">
        <a class="nav-link ng-binding" [ngClass]="isActive('presentations') ? 'active-tab-bottom' : ''">Презентации</a>
      </li>
    </ul>
  </div>

  <meeting-question-list *ngIf="isActive('questions')"></meeting-question-list>
  <meeting-agenda-list *ngIf="isActive('agendas')"></meeting-agenda-list>
  <meeting-protocol-list *ngIf="isActive('protocols')"></meeting-protocol-list>
  <meeting-question-planning-list *ngIf="isActive('planning')"></meeting-question-planning-list>
  <meeting-agenda-projects-list *ngIf="isActive('projects')"></meeting-agenda-projects-list>
  <meeting-question-presentation-list *ngIf="isActive('presentations')"></meeting-question-presentation-list>

</div>
