<div class="table-overflow-container visible-lg">
  <table class="table search-result-table table-hover sub-tasks-doc">
    <thead>
    <tr>
      <th>Статус</th>
      <th>Дата</th>
      <th>Номер</th>
      <th>Автор</th>
      <th>Содержание</th>
      <th>Ответственный</th>
      <th>Приоритет</th>
      <th>Исполнение (план)</th>
      <th>Исполнение (факт)</th>
      <th>Дата принятия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of subTasks">
      <td style="white-space: nowrap;"><a href="{{d.link}}"><span
        class="label label-{{statuses[d.condition]}}">{{d.condition}}</span></a></td>
      <td><a href="{{d.link}}">{{d.docDateInst | date: 'dd.MM.yyyy HH:mm'}}</a></td>
      <td><a href="{{d.link}}"><i *ngIf="d.privateInst === 'true'" class="fa fa-handshake-o" aria-hidden="true"></i>
        {{d.instructionNumber}}</a></td>
      <td><a href="{{d.link}}">{{d.creatorFioFull}}</a></td>
      <td>
        <a href="{{d.link}}">
          <div *ngIf="d.content" class="m-b-xs">{{d.content}}</div>
          <div *ngIf="d.subjectName" class="m-b-xs">Тема: {{d.subjectName}}</div>
          <div *ngIf="d.themeName" class="m-b-xs">{{d.themeName}}</div>
          <div *ngIf="d.difficultyName">{{d.difficultyName}}</div>
        </a>
      </td>
      <td><a href="{{d.link}}">{{d.executorFioFull}}</a></td>
      <td><a href="{{d.link}}"><span
        class="text-{{priorities[d.priorityName]}}">{{d.priorityName}}</span></a></td>
      <td><a href="{{d.link}}">{{d.planDate | date: 'dd.MM.yyyy HH:mm'}}</a> <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span>
      </td>
      <td><a href="{{d.link}}">{{d.reportDate | date: 'dd.MM.yyyy HH:mm'}}</a></td>
      <td><a href="{{d.link}}">{{d.acceptDate | date: 'dd.MM.yyyy HH:mm'}}</a></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="visible-md visible-sm visible-xs">
  <a href="{{d.link}}" class="sub-tasks-card" *ngFor="let d of subTasks">
    <div class="clearfix m-b-xs">
      <div class="pull-left mobile-task-date">{{d.beginDate | date: 'dd.MM.yyyy HH:mm'}}</div>
      <div class="pull-right mobile-task-date">Срок: <span>{{d.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
        <span *ngIf="d.primaryDateInst">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span></div>
    </div>
    <div class="m-b-xs"><span class="text-{{priorities[d.priorityName]}}">{{d.priorityName}} приоритет</span></div>
    <div class="semibold m-b-xs">{{d.content}}</div>
    <div>Номер: {{d.instructionNumber}}</div>
    <div>Автор: {{d.creatorFioFull}}</div>
    <div>Отв.: {{d.executorFioFull}}</div>
    <div *ngIf="d.themeName">Тема: {{d.themeName}}</div>
    <div *ngIf="d.reportDateInst">Факт.: {{d.reportDate | date: 'dd.MM.yyyy HH:mm'}}</div>
    <div *ngIf="d.acceptDateInst">Принятие: {{d.acceptDate | date: 'dd.MM.yyyy HH:mm'}}</div>
    <div  class="m-b-xs">Сложность: {{d.difficultyName}}</div>
    <div class="clearfix">
      <span class="label label-{{statuses[d.condition]}}">{{d.condition}}</span>
    </div>
  </a>
</div>
