.order-file {
  min-height: 58px !important;
  padding: 0;
  outline: none;
  border: 1px solid transparent !important;
  margin: 0 !important;
  .order-file-icon {
    position: absolute;
    display: block;
  }
  .order-file-name {
    max-height: 38px;
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    margin-top: 3px;
    width: 80%;
    .order-file-name-inner {
      float: left;
      max-width: 75%;
      margin-right: 10px;

      font-size: 13px;
      font-weight: 600;
      color: #676a6c !important;
      p {
        max-width: 100%;
        max-height: 20px;
        margin: 0;
        overflow: hidden;
      }
    }
    .order-file-name-size {
      float: left;
      color: #888;
      margin-right: 10px;
    }
  }
  .order-file-info {
    margin-left: 40px;
    font-size: 11px;
    color: #888;
    font-weight: 400;
  }
  a {
    color: #888;
  }
  a:hover {
    color: #3d4d5d !important;
  }
}