<div style="background-color: transparent" class="order-file col-lg-12 col-md-12 col-sm-12">
  <div class="order-file-icon">
    <cdp-ex-file-icon [nameFile]="name"></cdp-ex-file-icon>
  </div>
  <div class="order-file-name clearfix">
    <div class="order-file-name-inner">
      <p [innerText]="name"></p>
    </div>
    <div class="order-file-name-size">
      <!-- <span style="font-weight: 400;">{{size}}</span> -->
      <span style="cursor:pointer;line-height: 18px;">
        <a (click)="delete(file)" class="fa fa-trash-o"></a>
      </span>
    </div>
  </div>
  <div class="order-file-info">
    <span style="margin-right:5px;">
      <!-- <a [href]="link" (click)="save(file)">Скачать</a> -->
      <a (click)="save(file)">Скачать</a>
    </span>
    <!-- <span>Дата изменения: {{date | date:'dd.MM.yyyy HH:mm'}}</span> -->
  </div>
</div>