<div class="m-t-md">
	<!-- <cdp-expanded-section [(expand)]="document" *ngIf="reviewBy.length>0">
		<span header-slot style="display:inline;">
			Направлено на ознакомление
		</span>
		<div content-slot>
			<div class="description">
				<table class="table animated fadeIn m-t-sm">
					<thead>
						<tr>
							<th>ФИО ознакомленного</th>
							<th>Плановая дата ознакомления</th>
							<th>Кто отправил на ознакомление </th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of reviewBy">
							<td> {{r.reviewBy.fio}}</td>
							<td>{{r.reviewPlanDate | date:'dd.MM.yyyy'}}</td>
							<td>{{r.sentReviewBy.fio}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</cdp-expanded-section>

	<cdp-expanded-section [(expand)]="document" *ngIf="factReviewBy.length>0">
		<span header-slot style="display:inline;">
			Ознакомлен
		</span>
		<div content-slot>
			<div class="description">
				<table class="table animated fadeIn m-t-sm">
					<thead>
						<tr>
							<th>ФИО ознакомленного</th>
							<th>Фактическая дата ознакомления</th>
							<th>Комментарий</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of factReviewBy">
							<td>{{r.factReviewBy.fio}} </td>
							<td>{{r.reviewFactDate | date:'dd.MM.yyyy'}}</td>
							<td>{{r.reviewNote}} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</cdp-expanded-section> -->
	<div class="description">
		<table class="table animated fadeIn m-t-sm">
			<thead>
				<tr>
					<th>ФИО ознакомленного</th>
					<th>Плановая дата ознакомления</th>
					<th>Фактическая дата ознакомления</th>
					<th>Кто отправил на ознакомление </th>
					<th>Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let r of document.review">
					<td>
						<div *ngIf="r.reviewBy && r.reviewBy.fio">
							{{r.reviewBy.fio}}
						</div>
						<div *ngIf="r.factReviewBy && r.factReviewBy.fio">
							<span *ngIf="r.reviewBy && r.reviewBy.fio">(</span>
							<span *ngIf="(r.reviewBy && r.reviewBy.accountName !== r.factReviewBy.accountName) || !r.reviewBy">{{r.factReviewBy.fio}}</span>
							<span *ngIf="r.reviewBy && r.reviewBy.fio">)</span>
						</div>
					</td>
					<td>{{r.reviewPlanDate | date:'dd.MM.yyyy HH:mm'}}</td>
					<td>{{r.reviewFactDate | date:'dd.MM.yyyy HH:mm'}}</td>
					<td>
						<span *ngIf="r.sentReviewBy">
							{{r.sentReviewBy.fio}}
						</span>
					</td>
					<td>{{r.reviewNote}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>