{{protocol}}
<br><br>
{{testVar}}

<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *ngIf="!editing">
        <meeting-protocol-view [protocol]="protocol" (edit)="edit($event)" [reload]="reload"></meeting-protocol-view>
      </div>
      <div *ngIf="editing">
        <meeting-protocol-edit [protocol]="protocol" (saveProtocol)="saveProtocol()" (cancel)="cancelEdit()" ></meeting-protocol-edit>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>

