<div class="pull-right">
</div>
<h4 class="m-b-md">Подготовка материалов на РГ ГЗК</h4>
<div class="text-navy m-t-xs m-b-md semibold" *ngIf="questionRG.materialsSent">
  <i class="fa fa-check"></i> Материалы отправлены на РГ ГЗК {{questionRG.materialsSent | date: "dd.MM.yyyy"}}
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Тип</th>
      <th>Файл</th>
      <th>Ответственный</th>
      <th>Учет замечаний</th>
      <th>Состояние</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of questionRG.materials">
      <td>{{material.materialType}}</td>
      <td>
        <!--TODO: check -->
        <cdp-ex-file-manager
          [files]="material.document"
          [downloadable]="false"
          [downloadBaseHref]="'/filestore'"
          [showSize]="true"
        ></cdp-ex-file-manager>
      </td>
      <td>{{material.materialType.contractorNote.fioFull}}</td>
      <td>
        <div *ngFor="let remark of material.remark">
						<span *ngIf="remark.remarkFixed">
              <i class="fa fa-check text-success"></i>
						</span>
          <span> {{remark.remarkContent}} </span> <span> {{remark.remarkAuthor.fioShort}} </span> <span> {{remark.remarkDate}} </span>
          <span *ngIf="remark.remarkFixedDate"> (учтено {{remark.remarkFixedDate}}) </span>
        </div>
      </td>
      <td>
        <div>
          <span class="label label-success" *ngIf="material.approved">Одобрено</span>
          <span class="label label-default" *ngIf="!material.approved">Не одобрено</span>
        </div>
        <div class="m-t-xs">
          <small *ngIf="material.approvedCancelDate">{{material.approvedCancelDate | date: "dd.MM.yyyy"}}</small>
          <small *ngIf="!material.approvedCancelDate">{{material.approvedDate | date: "dd.MM.yyyy"}}</small>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
