<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form method="get" class="form-horizontal" name="agendaEditForm">

        <tabset>
          <tab heading="Данные протокола">
            <div class="panel-body">
              <h4>Протокол заседания</h4>

              <div class="form-group" ng-class="{'has-error': protocolEditForm.meetingDate.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата заседания<span
                  class="our-mandatory">*</span></label>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <cdp-date-selector [(model)]="protocol.meetingDate" [disabled]="true"></cdp-date-selector>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': protocolEditForm.meetingNumber.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер заседания<span
                  class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <input name="meetingNumber" type="text" class="form-control" [(ngModel)]="protocol.meetingNumber"
                         required=""
                         disabled="true">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокол утвержден</label>
                <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                  <label> <input type="checkbox" cdp-icheck [(ngModel)]="protocol.protocolApproved"
                                 name="protocolApproved">
                  </label>
                </div>
              </div>

              <div class="form-group">
                <h4 class="col-lg-3 col-md-3 col-sm-3 text-right">Присутствовали</h4>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Внутренние</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <div class="row" *ngFor="let attendee of internalAttendees; let index = index; let last = last;">
                    <div class="col-lg-5">
                      <ng-select [name]="'department' + index"
                                 [items]="departments"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="true"
                                 bindLabel="name"
                                 [disabled]="updatingUsersListInProgress"
                                 [(ngModel)]="attendee.department"
                                 (ngModelChange)="departmentsChange($event, index)">
                      </ng-select>
                    </div>
                    <div class="col-lg-5">
                      <ng-select [name]="'result' + index"
                                 [items]="attendee.users"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="true"
                                 bindLabel="iofShort"
                                 [disabled]="updatingUsersListInProgress"
                                 [(ngModel)]="attendee.result"
                                 (ngModelChange)="internalAttendeeChange($event, index)">
                      </ng-select>
                    </div>
                    <div class="col-lg-2">
                      <button type="button" class="btn btn-sm btn-default" (click)="addInternalAttendee()" *ngIf="last"
                              [disabled]="updatingUsersListInProgress">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-default" (click)="removeInternalAttendee(index)"
                              [disabled]="updatingUsersListInProgress">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Внешние</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <div class="row">
                    <div class="col-lg-10">
                      <ng-select name="externalAttendees"
                                 [items]="meetingAttendees"
                                 [multiple]="true"
                                 [closeOnSelect]="true"
                                 [hideSelected]="true"
                                 bindLabel="name"
                                 [(ngModel)]="externalAttendees"
                                 (ngModelChange)="attendedAdded()">
                      </ng-select>
                    </div>
                    <div class="col-lg-2">
                      <button type="button" class="btn btn-sm btn-default" (click)="clearAttendees()">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Редакционная группа от Москомстройнвеста</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <ng-select name="draftingGroupInvest"
                             [items]="redactorGroupMemberInvest"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="iofShort"
                             [(ngModel)]="protocol.draftingGroupInvest.member">
                  </ng-select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Редакционная группа от Москомархитектуры</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <ng-select name="draftingGroupMKA"
                             [items]="redactorGroupMemberMKA"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="iofShort"
                             [(ngModel)]="protocol.draftingGroupMKA.member">
                  </ng-select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокольная группа</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <ng-select name="protocolGroup"
                             [items]="protocolGroupMember"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="iofShort"
                             [(ngModel)]="protocol.protocolGroup.member">
                  </ng-select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокол утвердил</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <ng-select name="approvedBy"
                             [items]="protocolApprovers"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="iofShort"
                             [(ngModel)]="protocol.approvedBy">
                  </ng-select>
                </div>
              </div>

            </div>
          </tab>
          <tab heading="Решения">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table our-table-xs table-bordered">
                  <thead>
                  <tr>
                    <th class="center">№</th>
                    <th class="center">Вопрос</th>
                    <th class="center" width="55%">Решение</th>
                    <th class="center" width="20%">Категория решения</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let question of protocol.question; let index = index;">
                    <td class="center">
                      <div class="m-t-xs">{{question.itemNumber}}</div>
                    </td>
                    <td>
                      <h3>
                        <a *ngIf="hasQuestionViewPermission" uiSref="app.meeting.question" [uiParams]="{id: question.questionID}">{{question.address}}</a>
                        <div *ngIf="!hasQuestionViewPermission">{{question.address}}</div>
                      </h3>
                      <div *ngIf="question.cadastralNumber">{{question.cadastralNumber}}</div>
                      <div *ngIf="question.question">{{question.question}}</div>
                    </td>
                    <td>
                      <textarea class="form-control our-control" rows="10"
                                [(ngModel)]="question.decisionText" name="decisionText"></textarea>
                    </td>
                    <td>
                      <ng-select name="decisionTypeCode"
                                 [items]="decisionTypes[questions[question.questionID].questionConsider.questionCategoryCode]"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [hideSelected]="true"
                                 bindLabel="decisionType"
                                 bindValue="decisionTypeCode"
                                 [(ngModel)]="question.decisionTypeCode"
                                 (ngModelChange)="decisionTypeChanged(question)">
                      </ng-select>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button (click)="save()" ng-disabled="!protocolEditForm.$valid" type="button"
                    class="btn btn-w-m btn-primary">
              Сохранить
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
