<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right m-t-md" *ngIf="activeTab !== 2">
        <button type="button"
                class="btn btn-sm btn-default"
                *ngIf="showMeetingHeld && !agenda.meetingHeld && !(meetingType.Express && meetingType.meetingExternal)"
                (click)="meetingHeld()"
                [ladda]="markingMeetingPassed" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right">Заседание проведено
        </button>
        <button type="button"
                class="btn btn-sm btn-default"
                *ngIf="showCreateProtocol && !protocol && included.length > 0 && !(meetingType.Express && meetingType.meetingExternal)"
                (click)="createProtocol()"
                [ladda]="creatingProtocol" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right">
          Создать протокол
        </button>
        <button type="button"
                class="btn btn-sm btn-default"
                *ngIf="showMailNotification && !(meetingType.Express && meetingType.meetingExternal)"
                (click)="mailNotification()"
                [ladda]="sendingMailNotifications" data-spinner-size="18" data-spinner-color="#AAAAAA"
                data-style="expand-right">Разослать участникам
        </button>
        <button *ngIf="showCopyExpressAgenda && (activeTab === 0 && meetingType.Express && isAvailableToCopy()) && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)"
                class="btn btn-sm btn-muted" title="Создать копию" (click)="copyExpressAgenda()">
          <i class="fa fa-copy"></i> Скопировать
        </button>
        <button type="button"
                class="btn btn-sm btn-primary"
                *ngIf="showEditAgenda && !(meetingType.Express && meetingType.meetingExternal)"
                (click)="editAgenda()">Редактировать
        </button>
        <button type="button"
                class="btn btn-sm btn-info"
                *ngIf="showRescheduleAgenda && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)"
                (click)="rescheduleAgenda()"
                meetingMyAuth="MEETING_EXPRESS_RESCHEDULE_BUTTON">Перенести совещание
        </button>
        <button type="button"
                class="btn btn-sm btn-warning"
                *ngIf="showCancelAgenda && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)"
                (click)="cancelAgenda()"
                meetingMyAuth="MEETING_EXPRESS_CANCEL_BUTTON">Отменить совещание
        </button>
        <button type="button"
                class="btn btn-sm btn-danger"
                *ngIf="showDeleteAgenda && meetingType.Express && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)"
                (click)="deleteAgenda()"
                meetingMyAuth="MEETING_EXPRESS_DELETE_BUTTON">Удалить
        </button>
      </div>
      <div
        class="pull-right m-t-md"
        *ngIf="showProtocolActions && activeTab === 2 && !editingProtocol && !(meetingType.Express && meetingType.meetingExternal)"
        >
        <button class="btn btn-sm btn-default"
                [ladda]="creatingProtocolWithInstructionsPrintForm" data-spinner-size="18" data-spinner-color="#AAAAAA"
                [disabled]="sendingProtocolToApproval"
                (click)="createProtocolWithInstructionsPrintForm()">Формировать протокол
        </button>
        <button type="button"
                class="btn btn-sm btn-default"
                [ladda]="sendingProtocolToApproval || creatingProtocolWithInstructionsPrintForm" data-spinner-size="18" data-spinner-color="#AAAAAA"
                (click)="sendProtocolToApproval()">Передать на утверждение
        </button>
        <button type="button"
                class="btn btn-sm btn-primary"
                [disabled]="sendingProtocolToApproval"
                (click)="editProtocol()">Редактировать
        </button>
      </div>
      <h2 class="m-t-md">
        <small>{{meetingType.meetingFullName}}</small>
      </h2>
      <h2 class="m-t-sm semibold"><span>Заседание</span><span
        *ngIf="agenda.meetingNumber"> № {{agenda.meetingNumber}}</span><span> от {{agenda.meetingDate | date: "dd.MM.yyyy"}}</span>
      </h2>
      <h3>{{agenda.meetingTheme}}</h3>
      <div>
        <span *ngIf="!agenda.meetingTimeEnd"
              class="m-r">Время проведения: с {{agenda.meetingTime | date: 'HH:mm'}}</span>
        <span *ngIf="agenda.meetingTimeEnd" class="m-r">Время проведения: с {{agenda.meetingTime | date: 'HH:mm'}} до
                {{agenda.meetingTimeEnd | date: 'HH:mm'}}
        </span>
        <span class="m-r">Место проведения: {{agenda.meetingPlace}}</span>
      </div>
      <div>
        <span class="m-r">Рассылка уведомений: {{ agenda.mailingInfo ? (agenda.mailingInfo[agenda.mailingInfo.length - 1].mailingDateTime | date: 'dd.MM.yyyy  в HH:mm'): ''}}</span>
      </div>
      <div *ngIf="agenda.status" style="margin-top: 5px">
        <span class="m-r btn-{{agenda.status.color}} btn-sm"> {{ agenda.status.name }}</span>
      </div>
      <div *ngIf="protocol?.fileProtocol" style="margin-top: 15px;">
        <cdp-ex-file-manager [(files)]="protocol.fileProtocol"
                             [downloadable]="false"
                             [deletable]="isDeletableProtocol"
                             [showSize]="true"
                             [checkSign]="true"
                             [onRemove]="onDeleteScan.bind(this)"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>
    <div class="m-t-md">
      <ul class="nav nav-tabs nav-tabs-showcase m-t-xs">
        <li class="uib-tab nav-item" (click)="activate(0)">
          <a class="nav-link ng-binding {{isActive(0) ? 'active-tab-bottom' : ''}}">Общая информация</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(1)">
          <a class="nav-link ng-binding {{isActive(1) ? 'active-tab-bottom' : ''}}" *ngIf="!!instructions">Поручения</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(2)" *ngIf="!!protocol">
          <a class="nav-link ng-binding {{isActive(2) ? 'active-tab-bottom' : ''}}">Протокол</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(3)" *ngIf="agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA">
          <a class="nav-link ng-binding {{isActive(3) ? 'active-tab-bottom' : ''}}">Внутренние поручения</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(4)" *ngIf="agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA">
          <a class="nav-link ng-binding {{isActive(4) ? 'active-tab-bottom' : ''}}">Ознакомления</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(6)" *ngIf="!!agenda && !!protocol && showApprovalList">
          <a class="nav-link ng-binding {{isActive(6) ? 'active-tab-bottom' : ''}}">Визовый экземпляр</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(5)" *ngIf="showProcesses">
          <a class="nav-link ng-binding {{isActive(5) ? 'active-tab-bottom' : ''}}">Процесс</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(7)" *ngIf="isAvailableToHistory() && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)">
          <a class="nav-link ng-binding {{isActive(7) ? 'active-tab-bottom' : ''}}">История изменений</a>
        </li>
        <li class="uib-tab nav-item" (click)="activate(8)" *ngIf="isAvailableToJson() && !(agenda.receivedFromMKA && agenda.receivedFromMKA.FromMKA)">
          <a class="nav-link ng-binding {{isActive(8) ? 'active-tab-bottom' : ''}}">Json</a>
        </li>
      </ul>
      <div class="m-t-md" *ngIf="isActive(0)">
        <p class="semibold m-b-md" *ngIf="included && included.length > 0">
          <span class="m-r">Всего вопросов — {{includedCount}}</span>
        </p>
        <div class="row" *ngIf="agenda.initiator">
          <label class="col-lg-1 col-md-1 col-sm-1 control-label">Инициатор</label>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <span *ngIf="agenda.initiator.fioFull">{{agenda.initiator.fioFull}}</span><span
            *ngIf="agenda.initiator.fioFull && agenda.initiator.post">, </span><span
            *ngIf="agenda.initiator.post">{{agenda.initiator.post}}</span>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-1 col-md-1 col-sm-1 control-label">Участники</label>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div *ngFor="let attended of agenda.attended">
              <div>
                <span *ngIf="attended.fioFull">{{attended.fioFull}}</span><span
                *ngIf="attended.fioFull && attended.post">, </span><span
                *ngIf="attended.post">{{attended.post}}</span>
              </div>
              <div>
                {{attended.name}}
              </div>
              <br/>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="agenda.filesAttach && agenda.filesAttach.length > 0">
          <label class="col-lg-1 col-md-1 col-sm-1 control-label">Файлы</label>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div *ngFor="let file of agenda.filesAttach">
              <cdp-ex-file [fileInfo]="file" [deletable]="false" [downloadBlank]="true" [openable]="true"
                           [showDate]="true" [showSize]="true" [folderGuid]="agenda.folderId" [downloadBaseHref]="'/filestore'"
                           [systemCode]="'MkaDocOther'"></cdp-ex-file>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="included && included.length > 0 && questions">
          <label class="col-lg-1 col-md-1 col-sm-1 control-label">Вопросы</label>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="center col-xs-1">№</th>
                  <th class="center col-xs-7">Вопрос</th>
                  <th class="center col-xs-4">Ответственные</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let question of included">
                  <td class="center">
                    <span>{{question.itemNumber}}</span>
                  </td>
                  <td>
                    {{questions[question.questionId].questionConsider?.question}}
                  </td>
                  <td>
                    <span *ngIf="questions[question.questionId].questionConsider?.responsiblePrepare">
                      {{questions[question.questionId].questionConsider.responsiblePrepare.contractorPrepareFIO}}
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-violet"
                            (click)="createInstruction(question.questionId)"
                            title="Создать поручение"
                            *ngIf="showCreateInstruction && question.questionId && availableToAddInstruction && !(meetingType.Express && meetingType.meetingExternal)">
                      <i class="fa fa-file"></i> Дать поручение
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="m-t-md" *ngIf="isActive(1)">
        <div *ngIf="instructions && instructions.length">
          <div class="m-b">Всего вопросов - {{instructions.length}}</div>
          <div class="table-responsive" style="border-bottom:1px solid #e7eaec">
            <table class="table our-table-xs table-bordered voting-table">
              <thead>
              <tr>
                <th class="center col-xs-1">№</th>
                <th class="center col-xs-4">Вопрос</th>
                <th colspan="2" class="center col-xs-7">Поручения
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of instructions; let index = index;">
                <td width="10px" class="center">{{index + 1}}</td>
                <td>
                  <div *ngIf="item.question.questionConsider.address">{{item.question.questionConsider.address}}</div>
                  <div>{{item.question.questionConsider.question}}</div>
                  <div class="semibold">Решение:</div>
                  <div [innerHTML]="item.question.questionConsider.decisionText"
                       style="white-space: pre-wrap;"></div>
                </td>
                <td>
                  <mggt-meeting-instruction [statuses]="statuses" [instructions]="item.instructions"></mggt-meeting-instruction>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!instructions || !instructions.length">
          <div style="height: 200px; padding-top: 70px;">
            <h1 class="text-center">Нет элементов для отображения</h1>
          </div>
        </div>
      </div>
      <div class="m-t-md" *ngIf="isActive(2)">
        <div class="m-b">
          <div [ngStyle]="{display: protocol.fileProtocol?.length ? 'none' : 'block'}" *ngIf="showAddScanProtocol && isAttachableProtocol">
            <button type="button" class="btn btn-primary" [disabled]="sendingProtocolToApproval" (click)="showAttachScanModal()">Приложить отсканированную версию</button>
          </div>
        </div>
        <div class="row" *ngIf="protocol.fileProtocolDraft && showFileProtocolDraft">
          <label class="col-lg-1 col-md-1 col-sm-1 control-label">Проект протокола</label>
          <div class="col-lg-11 col-md-11 col-sm-11">
            <div class="m-b">
            <cdp-ex-file-manager [files]="[protocol.fileProtocolDraft]" [downloadable]="'false'"
                                 [downloadBaseHref]="'/filestore'" [baseMode]="!openFileProtocolDraft"
                                 [showSize]="'true'" [showDate]="'true'" [checkSign]="'true'"></cdp-ex-file-manager>
            </div>
          </div>
        </div>
        <div class="m-b">Всего вопросов - {{protocol.questionsNum}}</div>
        <div>
          <div class="table-responsive table-bordered">
            <table class="table">
              <thead>
              <tr>
                <th class="center" style="width:10%">№</th>
                <th class="center" style="width:45%">Вопрос</th>
                <th class="center" style="width:45%">Решения</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let question of protocol.question; let index = index;">
                <td class="center">
                  <span>{{question.itemNumber}}</span>
                </td>
                <td>
                  {{question.question}}
                </td>
                <td>
                  <div *ngIf="!editingProtocol">
                    {{question.decisionText}}
                  </div>
                  <div *ngIf="editingProtocol">
                    <input type="text" class="form-control" [(ngModel)]="question.decisionText" name="decisionText{{index}}"/>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="editingProtocol">
          <div class="text-center m-t-md">
            <button (click)="saveProtocol()" type="button" class="btn btn-w-m btn-primary"
                    [ladda]="savingProtocol" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              Сохранить
            </button>
          </div>
        </div>
      </div>
      <div class="m-t-md" *ngIf="isActive(3)">
        <mggt-subtasks-doc [dicts]="dicts" [subTasks]="insideOrder"></mggt-subtasks-doc>
      </div>
      <div class="m-t-md" *ngIf="isActive(4)">
        <mggt-agenda-review [document]="agenda"></mggt-agenda-review>
      </div>
      <div class="m-t-md" *ngIf="isActive(5)">
        <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
      </div>
      <div class="m-t-md" *ngIf="isActive(6) && !!agenda && !!protocol">
        <mggt-agenda-approvals [agenda]="agenda" [protocol]="protocol"></mggt-agenda-approvals>
      </div>
      <div class="m-t-md" *ngIf="isActive(7) && !!agenda">
        <cdp-document-log [systemName]="'app/sdo/meeting'"
                          [docType]="'SDO_MEETING_AGENDA'"
                          [documentId]="agenda.agendaID"></cdp-document-log>
      </div>
      <div class="m-t-md" *ngIf="isActive(8) && !!agenda">
        <mggt-agenda-json-editor [id]="agenda.agendaID"></mggt-agenda-json-editor>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>


